- page_title "システムフック"
%h3.page-title
  システムフック

%p.light
  #{link_to "システムフック", help_page_path("system_hooks", "system_hooks"), class: "vlink"} を使うと
  GitLabがユーザやプロジェクトを作成したイベントを別のアクションに紐付けることができます。

%hr


= form_for @hook, as: :hook, url: admin_hooks_path, html: { class: 'form-horizontal' } do |f|
  -if @hook.errors.any?
    .alert.alert-danger
      - @hook.errors.full_messages.each do |msg|
        %p= msg
  .form-group
    = f.label :url, "URL:", class: 'control-label'
    .col-sm-10
      = f.text_field :url, class: "form-control"
  .form-group
    = f.label :enable_ssl_verification, "SSLの検証", class: 'control-label checkbox'
    .col-sm-10
      .checkbox
        = f.label :enable_ssl_verification do
          = f.check_box :enable_ssl_verification
          %strong SSLの検証を有効にする
  .form-actions
    = f.submit "システムフックを追加", class: "btn btn-create"
%hr

-if @hooks.any?
  .panel.panel-default
    .panel-heading
      システムフック (#{@hooks.count})
    %ul.well-list
      - @hooks.each do |hook|
        %li
          .list-item-name
            = link_to admin_hook_path(hook) do
              %strong= hook.url
            %p SSLの検証: #{hook.enable_ssl_verification ? "有効" : "無効"}

          .pull-right
            = link_to 'フックをテスト', admin_hook_test_path(hook), class: "btn btn-sm"
            = link_to '削除', admin_hook_path(hook), data: { confirm: '本当に削除しますか？' }, method: :delete, class: "btn btn-remove btn-sm"
