= render layout: 'help/api_layout' do
  %h3.page-title
    %span.light API
    %span
      \/
    = @category_i18n

  .file-holder
    .file-title
      %i.icon-file
      = @category_i18n
    .file-content.wiki
      = preserve do
        = markdown File.read(Rails.root.join("doc", "api", "#{@category}.md"))
