%div
  %h1
    GitLab
    %span= Gitlab::VERSION
    %small= Gitlab::REVISION
  %p.slead
    GitLabはコードを共同編集するためのオープンソースソフトウェアです。
    %br
    Gitリポジトリをきめ細かくアクセス管理でき、あなたのソースコードを安全な状態に保ちます。
    %br
    マージリクエストを使えば、ソースコードレビューや共同作業を向上することができます。
    %br
    各プロジェクトには課題トラッカーとWikiを備えることができます。
    %br
    GitLabは5万以上の組織で使われており、もっともポピュラーなオンプレミスGitリポジトリ管理のソリューションです。
    %br
    GitLabについての詳細は #{link_to "www.gitlab.com", "https://www.gitlab.com/", target: "_blank"} でご確認ください。

%hr

.row
  .col-md-8
    .documentation-index
      = preserve do
        - readme_text = File.read(Rails.root.join("doc", "README.md"))
        - text = readme_text.dup
        - readme_text.scan(/\]\(([^(]+)\)/) { |match| text.gsub!(match.first, "help/#{match.first}") }
        = markdown text

  .col-md-4
    .panel.panel-default
      .panel-heading
        クイックヘルプ
      %ul.well-list
        %li
          = link_to "Webサイトのヘルプ", "https://www.gitlab.com/getting-help/"
          を見る
        %li
          ページトップの
          = link_to "検索バー", '#', onclick: "$('#search').focus();"
          を使う
        %li
          = link_to "ショートカット", '#', onclick: "new Shortcuts()"
          を使う
