.jumbotron
  %h2
    GitLab
    %span= Gitlab::VERSION
    %small= Gitlab::REVISION
  %p.slead
    GitLabはコードを共同編集するためのオープンソースソフトウェアです。
    %br
    Gitリポジトリをきめ細かくアクセス管理でき、あなたのソースコードを安全な状態に保ちます。
    %br
    マージリクエストを使えば、ソースコードレビューや共同作業を向上することができます。
    %br
    各プロジェクトには課題トラッカーとWikiを備えることができます。
    %br
    GitLabは5万以上の組織で使われており、もっともポピュラーなオンプレミスGitリポジトリ管理のソリューションです。
    %br
    GitLabについての詳細は #{link_to "www.gitlab.com", "https://www.gitlab.com/", target: "_blank"} でご確認ください。

.row
  .col-md-4
    .ui-box
      .title
        クイックヘルプ
      %ul.well-list
        %li
          = mail_to gitlab_config.support_email, "サポート窓口"
          にメールで連絡
        %li
          ページトップの
          = link_to "検索バー", '#', onclick: "$('#search').focus();"
          を使う
        %li
          = link_to "ショートカット", '#', onclick: "new Shortcuts()"
          を使う
        %li
          = link_to "メーリングリスト", "https://groups.google.com/forum/#!forum/gitlabhq"
          または
          = link_to "Stack Overflow", "http://stackoverflow.com/questions/tagged/gitlab"
          で質問
        %li
          GitLabの
          = link_to "課題", "https://gitlab.com/gitlab-org/gitlab-ce/issues"
          を確認

  .col-md-4
    .ui-box
      .title
        ユーザ向けドキュメント
      %ul.well-list
        %li
          %strong= link_to "ワークフロー", help_workflow_path
          %p GitとGitLabの使い方を学びます。

        %li
          %strong= link_to "SSHキー", help_ssh_path
          %p プロジェクトへのセキュアなアクセス方法を設定します。

        %li
          %strong= link_to "GitLab Markdown", help_markdown_path
          %p GitLabの高度なフォーマットシステムでできることを学びます。

        %li
          %strong= link_to "アクセス権", help_permissions_path
          %p GitLabのアクセス権レベルについて学びます。

        %li
          %strong= link_to "API", help_api_file_path(category: 'README')
          %p シンプルで強力なAPIを使ってGitLabにアクセスする方法を確認します。

        %li
          %strong= link_to "Webフック", help_web_hooks_path
          %p 新しいコードがプッシュされたときに通知させます。

  .col-md-4
    .ui-box
      .title
        管理者向けドキュメント
      %ul.well-list

        %li
          %strong= link_to "Rakeタスク", help_raketasks_path
          %p 管理をより簡単にするためにGitLabが用意しているタスクを確認します。

        %li
          %strong= link_to "システムフック", help_system_hooks_path
          %p 特定の管理タスクが実行されるときに通知させます。

        %li
          %strong= link_to "公開アクセス", help_public_access_path
          %p プロジェクトを公開する方法を学びます。

        %li
          %strong= link_to "セキュリティ", help_security_path
          %p GitLabインスタンスをセキュアにするためにすることを学びます。
