%div
  %h1
    GitLab
    %span= Gitlab::VERSION
    %small= Gitlab::REVISION
    - if current_application_settings.version_check_enabled
      = version_status_badge
  %p.slead
    GitLabはコードを共同編集するためのオープンソースソフトウェアです。
    %br
    Gitリポジトリをきめ細かくアクセス管理でき、あなたのソースコードを安全な状態に保ちます。
    %br
    マージリクエストを使えば、ソースコードレビューや共同作業を向上することができます。
    %br
    各プロジェクトには課題トラッカーとWikiを備えることができます。
    %br
    GitLabは5万以上の組織で使われており、もっともポピュラーなオンプレミスGitリポジトリ管理のソリューションです。
    %br
    GitLabについての詳細は #{link_to promo_host, promo_url, target: '_blank'} でご確認ください。
    - if current_application_settings.help_page_text.present?
      %hr
      = markdown(current_application_settings.help_page_text)

%hr

.row
  .col-md-8
    .documentation-index
      = preserve do
        - readme_text = File.read(Rails.root.join("doc", "README.md"))
        - text = readme_text.dup
        - readme_text.scan(/\]\(([^(]+)\)/) { |match| text.gsub!(match.first, "help/#{match.first}") }
        = markdown text

  .col-md-4
    .panel.panel-default
      .panel-heading
        クイックヘルプ
      %ul.well-list
        %li
          = link_to 'Webサイトのヘルプ', promo_url + '/getting-help/'
          を見る
        %li
          ページトップの
          = link_to '検索バー', '#', onclick: 'Shortcuts.focusSearch(event)'
          を使う
        %li
          = link_to 'ショートカット', '#', onclick: 'Shortcuts.showHelp(event)'
          を使う
        %li
          サポートサブスクリプションを
          = link_to '購入', 'https://about.gitlab.com/pricing/'
        %li
          GitLabのEditionを
          = link_to '比較', 'https://about.gitlab.com/features/#compare'
