%div
  %h1
    GitLab
    Community Edition
    - if user_signed_in?
      %span= Gitlab::VERSION
      %small= Gitlab::REVISION
      = version_status_badge
  %p.slead
    GitLabはコードを共同編集するためのオープンソースソフトウェアです。
    %br
    Gitリポジトリをきめ細かくアクセス管理でき、あなたのソースコードを安全な状態に保ちます。
    %br
    マージリクエストを使えば、ソースコードレビューや共同作業を向上することができます。
    %br
    各プロジェクトには課題トラッカーとWikiを備えることができます。
    %br
    GitLabは5万以上の組織で使われており、もっともポピュラーなオンプレミスGitリポジトリ管理のソリューションです。
    %br
    GitLabについての詳細は #{link_to promo_host, promo_url, target: '_blank'} でご確認ください。
    - if current_application_settings.help_page_text.present?
      %hr
      = markdown(current_application_settings.help_page_text)

%hr

.row
  .col-md-8
    .documentation-index
      = preserve do
        = markdown(@help_index)
  .col-md-4
    .panel.panel-default
      .panel-heading
        クイックヘルプ
      %ul.well-list
        %li= link_to 'Webサイトのヘルプを見る', promo_url + '/getting-help/'
        %li= link_to 'ページトップの検索バーを使う', '#', onclick: 'Shortcuts.focusSearch(event)'
        %li= link_to 'ショートカットを使う', '#', onclick: 'Shortcuts.showHelp(event)'
        %li= link_to 'サポートサブスクリプションを購入', 'https://about.gitlab.com/pricing/'
        %li= link_to 'GitLabのEditionを比較', 'https://about.gitlab.com/features/#compare'
