.js-toggle-container
  .commit-stat-summary
    = link_to '#', class: 'js-toggle-button' do
      %strong #{diff_files.count}件の変更されたファイル
    を表示中,&nbsp;
    %strong.cgreen #{diff_files.sum(&:added_lines)} 行の追加
    と
    %strong.cred #{diff_files.sum(&:removed_lines)} 行の削除
  .file-stats.js-toggle-content.hide
    %ul
      - diff_files.each_with_index do |diff_file, i|
        %li
          - if diff_file.deleted_file
            %span.deleted-file
              %a{href: "#diff-#{i}"}
                %i.fa.fa-minus
                = diff_file.old_path
          - elsif diff_file.renamed_file
            %span.renamed-file
              %a{href: "#diff-#{i}"}
                %i.fa.fa-minus
                = diff_file.old_path
                &rarr;
                = diff_file.new_path
          - elsif diff_file.new_file
            %span.new-file
              %a{href: "#diff-#{i}"}
                %i.fa.fa-plus
                = diff_file.new_path
          - else
            %span.edit-file
              %a{href: "#diff-#{i}"}
                %i.fa.fa-adjust
                = diff_file.new_path

