- page_title "デプロイキー"
.panel.panel-default
  .panel-heading
    公開デプロイキー (#{@deploy_keys.count})
    .panel-head-actions
      = link_to '新しいデプロイキー', new_admin_deploy_key_path, class: "btn btn-new btn-sm"
  - if @deploy_keys.any?
    .table-holder
      %table.table
        %thead.panel-heading
          %tr
            %th タイトル
            %th フィンガープリント
            %th 登録日
            %th
        %tbody
          - @deploy_keys.each do |deploy_key|
            %tr
              %td
                %strong= deploy_key.title
              %td
                %code.key-fingerprint= deploy_key.fingerprint
              %td
                %span.cgray
                  added #{time_ago_with_tooltip(deploy_key.created_at)}
              %td
                = link_to '削除', admin_deploy_key_path(deploy_key), data: { confirm: '本当に削除しますか？'}, method: :delete, class: "btn btn-sm btn-remove delete-key pull-right"
