- page_title "招待"
%h3.page-title 招待

%p
  あなたは
  - if inviter = @member.created_by
    = link_to inviter.name, user_url(inviter)
    から
  - case @member.source
  - when Project
    - project = @member.source
    プロジェクト
    %strong
      = link_to project.name_with_namespace, namespace_project_url(project.namespace, project)
  - when Group
    - group = @member.source
    グループ
    %strong
      = link_to group.name, group_url(group)
  に #{@member.human_access} として招待されました。

- if @member.source.users.include?(current_user)
  %p
    もしあなたが既にこの#{@member.source.is_a?(Group) ? "グループ" : "プロジェクト"} のメンバーである場合、
    招待を承諾するには異なるアカウントを使ってサインインしてください。
- else
  .actions
    = link_to "招待を承諾", accept_invite_url(@token), method: :post, class: "btn btn-success"
    = link_to "拒否", decline_invite_url(@token), method: :post, class: "btn btn-danger prepend-left-10"
