%h3.page-title GitLabへようこそ！
%p.light GitLabはSelf HostedなGit管理アプリケーションです。
%hr
%div
  .dashboard-intro-icon
    %i.icon-bookmark-empty
  %div
    %p.slead
      アクセス権のあるプロジェクトはまだありません。
      %br
      - if current_user.can_create_project?
        あなたは
        %strong= #{current_user.projects_limit}件
        までプロジェクトを作ることができます。
      - else
        あなたがプロジェクトのメンバーに追加されたら、ここに表示されるようになります。

    - if current_user.can_create_project?
      .link_holder
        = link_to new_project_path, class: "btn btn-new" do
          新しいプロジェクト »

- if current_user.can_create_group?
  %hr
  %div
    .dashboard-intro-icon
      %i.icon-group
    %div
      %p.slead
        複数のプロジェクトを管理するグループを作成できます。
        %br
        グループはプロジェクトとメンバーを管理するための最適な方法です。
      .link_holder
        = link_to new_group_path, class: "btn btn-new" do
          新しいグループ »

-if @publicish_project_count > 0
  %hr
  %div
    .dashboard-intro-icon
      %i.icon-globe
    %div
      %p.slead
        There are
        %strong= @publicish_project_count
        public projects on this server.
        %br
        Public projects are an easy way to allow everyone to have read-only access.
      .link_holder
        = link_to public_projects_path, class: "btn btn-new" do
          Browse public projects »
