- publicish_project_count = Project.publicish(current_user).count
%h3.page-title GitLabへようこそ！
%p.light GitLabはSelf HostedなGit管理アプリケーションです。
%hr
%div
  .dashboard-intro-icon
    %i.fa.fa-bookmark-o
  .dashboard-intro-text
    %p.slead
      アクセス権のあるプロジェクトはまだありません。
      %br
      - if current_user.can_create_project?
        あなたは
        %strong= #{current_user.projects_limit}件
        までプロジェクトを作ることができます。
      - else
        あなたがプロジェクトのメンバーに追加されたら、ここに表示されるようになります。

    - if current_user.can_create_project?
      .link_holder
        = link_to new_project_path, class: "btn btn-new" do
          %i.fa.fa-plus
          新しいプロジェクト

- if current_user.can_create_group?
  %hr
  %div
    .dashboard-intro-icon
      %i.fa.fa-users
    .dashboard-intro-text
      %p.slead
        複数のプロジェクトを管理するグループを作成できます。
        %br
        グループはプロジェクトとメンバーを管理するための最適な方法です。
      .link_holder
        = link_to new_group_path, class: "btn btn-new" do
          %i.fa.fa-plus
          新しいグループ

-if publicish_project_count > 0
  %hr
  %div
    .dashboard-intro-icon
      %i.fa.fa-globe
    .dashboard-intro-text
      %p.slead
        サーバ上に
        %strong= publicish_project_count
        件の公開プロジェクトがあります。
        %br
        公開プロジェクトは全員に読み取り専用でのアクセスを許可する簡単な方法です。
      .link_holder
        = link_to trending_explore_projects_path, class: "btn btn-new" do
          公開プロジェクトを表示
