%h3.page-title
  マイプロジェクト

%p.light
  アクセス権のあるすべてのプロジェクトを表示しています。メンバーでない公開プロジェクトは表示されません。
%hr
.side-filters
  = render "projects_filter"
.dash-projects
  %ul.bordered-list.my-projects.top-list
    - @projects.each do |project|
      %li.my-project-row
        %h4.project-title
          .project-access-icon
            = visibility_level_icon(project.visibility_level)
          = link_to project_path(project), class: dom_class(project) do
            = project.name_with_namespace

          - if project.forked_from_project
            &nbsp;
            %small
              %i.fa.fa-code-fork
              = link_to project.forked_from_project.name_with_namespace, project_path(project.forked_from_project)
              からフォーク

          - if current_user.can_leave_project?(project)
            .pull-right
              = link_to leave_project_team_members_path(project), data: { confirm: "プロジェクトを離脱しますか？"}, method: :delete, remote: true, class: "btn-tiny btn remove-row", title: 'プロジェクトの離脱' do
                %i.fa.fa-sign-out
                離脱

        .project-info
          .pull-right
            - if project.archived?
              %span.label
                %i.fa.fa-archive
                アーカイブ済み
            - project.tags.each do |tag|
              %span.label.label-info
                %i.fa.fa-tag
                = tag.name
          - if project.description.present?
            %p= truncate project.description, length: 100
          .last-activity
            %span.light 最後のアクティビティ:
            %span.date= project_last_activity(project)


      - if @projects.blank?
        %li
          .nothing-here-block プロジェクトはありません。
  .bottom
    = paginate @projects, theme: "gitlab"

