- page_title "デザイン"
%h3.page-title
  デザイン設定
%p.light
  デザイン設定はあなたのプロフィールに保存され、どの端末からでも利用できます。
%hr

= form_for @user, url: profile_path, remote: true, method: :put do |f|
  %fieldset.application-theme
    %legend
      アプリケーションテーマ
    .themes_opts
      = label_tag do
        .prev.default
        = f.radio_button :theme_id, 1
        グラファイト

      = label_tag do
        .prev.classic
        = f.radio_button :theme_id, 2
        チャコール

      = label_tag do
        .prev.modern
        = f.radio_button :theme_id, 3
        グリーン

      = label_tag do
        .prev.gray
        = f.radio_button :theme_id, 4
        グレー

      = label_tag do
        .prev.violet
        = f.radio_button :theme_id, 5
        バイオレット

      = label_tag do
        .prev.blue
        = f.radio_button :theme_id, 6
        ブルー
    %br
    .clearfix

  %fieldset.code-preview-theme
    %legend
      コードプレビューテーマ
    .code_highlight_opts
      - color_schemes.each do |color_scheme_id, color_scheme|
        = label_tag do
          .prev
            = image_tag "#{color_scheme}-scheme-preview.png"
          = f.radio_button :color_scheme_id, color_scheme_id
          = color_scheme.gsub(/[-_]+/, ' ').humanize
