%h3.page-title
  プロフィール設定
%p.light
  この情報はあなたのプロフィールに表示されます。
  - if current_user.ldap_user?
    いくつかのオプションはLDAPアカウントでは利用できません。
%hr



= form_for @user, url: profile_path, method: :put, html: { multipart: true, class: "edit_user form-horizontal" }, authenticity_token: true do |f|
  -if @user.errors.any?
    %div.alert.alert-danger
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-7
      .form-group
        = f.label :name, '名前', class: "control-label"
        .col-sm-10
          = f.text_field :name, class: "form-control", required: true
          %span.help-block 皆があなたを認識できるように、あなたの名前を入力してください。

      .form-group
        = f.label :email, 'メールアドレス', class: "control-label"
        .col-sm-10
          - if @user.ldap_user?
            = f.text_field :email, class: "form-control", required: true, readonly: true
            %span.help-block.light
              LDAPユーザではメールアドレスは読み取り専用です。
          - else
            - if @user.temp_oauth_email?
              = f.text_field :email, class: "form-control", required: true, value: nil
            - else
              = f.text_field :email, class: "form-control", required: true
            - if @user.unconfirmed_email.present?
              %span.help-block
                確認のメールを
                %strong #{@user.unconfirmed_email}
                へ送信しました。続行する前にメール文中のリンクをクリックしてください

            - else
              %span.help-block メールアドレスはアバターの検出にも使用されます(アップロードされていない場合)。
      .form-group
        = f.label :skype, class: "control-label"
        .col-sm-10= f.text_field :skype, class: "form-control"
      .form-group
        = f.label :linkedin, class: "control-label"
        .col-sm-10= f.text_field :linkedin, class: "form-control"
      .form-group
        = f.label :twitter, class: "control-label"
        .col-sm-10= f.text_field :twitter, class: "form-control"
      .form-group
        = f.label :website_url, 'Webサイト', class: "control-label"
        .col-sm-10= f.text_field :website_url, class: "form-control"
      .form-group
        = f.label :bio, '自己紹介', class: "control-label"
        .col-sm-10
          = f.text_area :bio, rows: 6, class: "form-control", maxlength: 250
          %span.help-block 250字以内で自己紹介してください。

    .col-md-5
      .light-well
        = image_tag avatar_icon(@user.email, 160), alt: '', class: 'avatar s160'

        .clearfix
          .profile-avatar-form-option
            %p.light
              - if @user.avatar?
                アバターを変更
                - if Gitlab.config.gravatar.enabled
                  %br
                  またはアバターを #{link_to "gravatar.com", "http://gravatar.com"} に戻す
              - else
                アバターをアップロード
                - if Gitlab.config.gravatar.enabled
                  %br
                  または #{link_to "gravatar.com", "http://gravatar.com"} で変更
            %hr
            %a.choose-btn.btn.btn-small.js-choose-user-avatar-button
              %i.icon-paper-clip
              %span ファイルを選択 ...
            &nbsp;
            %span.file_name.js-avatar-filename ファイル名...
            = f.file_field :avatar, class: "js-user-avatar-input hidden"
            .light ファイルの最大サイズは100KBです
            - if @user.avatar?
              %hr
              = link_to 'アバターを削除', profile_avatar_path, data: { confirm: "アバターを削除します。よろしいですか？"}, method: :delete, class: "btn btn-remove btn-small remove-avatar"

      - if @user.public_profile?
        .bs-callout.bs-callout-info
          %h4 Public profile
          %p Your profile is publicly visible because you joined public project(s)


  .form-actions
    = f.submit '変更を保存', class: "btn btn-save"
