- page_title "プロフィール"
%h3.page-title
  = page_title
%p.light
  この情報はあなたのプロフィールに表示されます。
  - if current_user.ldap_user?
    いくつかのオプションはLDAPアカウントでは利用できません。
%hr



= form_for @user, url: profile_path, method: :put, html: { multipart: true, class: "edit_user form-horizontal" }, authenticity_token: true do |f|
  -if @user.errors.any?
    %div.alert.alert-danger
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-7
      .form-group
        = f.label :name, '名前', class: "control-label"
        .col-sm-10
          = f.text_field :name, class: "form-control", required: true
          %span.help-block 皆があなたを認識できるように、あなたの名前を入力してください。

      .form-group
        = f.label :email, 'メールアドレス', class: "control-label"
        .col-sm-10
          - if @user.ldap_user?
            = f.text_field :email, class: "form-control", required: true, readonly: true
            %span.help-block.light
              LDAPユーザではメールアドレスは読み取り専用です。
          - else
            - if @user.temp_oauth_email?
              = f.text_field :email, class: "form-control", required: true, value: nil
            - else
              = f.text_field :email, class: "form-control", required: true
            - if @user.unconfirmed_email.present?
              %span.help-block
                確認のメールを
                = succeed "." do
                  %strong #{@user.unconfirmed_email}
                へ送信しました。続行する前にメール文中のリンクをクリックしてください
                %p
                = link_to "確認メールを再送信", user_confirmation_path(user: { email: @user.unconfirmed_email }), method: :post

            - else
              %span.help-block メールアドレスはアバターの検出にも使用されます(アップロードされていない場合)。
      .form-group
        = f.label :public_email, '公開メールアドレス', class: "control-label"
        .col-sm-10
          = f.select :public_email, options_for_select(@user.all_emails, selected: @user.public_email), {include_blank: 'プロフィールに表示しない'}, class: "form-control"
          %span.help-block このメールアドレスはあなたの公開プロフィールに表示されます。
      .form-group
        = f.label :skype, class: "control-label"
        .col-sm-10= f.text_field :skype, class: "form-control"
      .form-group
        = f.label :linkedin, class: "control-label"
        .col-sm-10= f.text_field :linkedin, class: "form-control"
      .form-group
        = f.label :twitter, class: "control-label"
        .col-sm-10= f.text_field :twitter, class: "form-control"
      .form-group
        = f.label :website_url, 'Webサイト', class: "control-label"
        .col-sm-10= f.text_field :website_url, class: "form-control"
      .form-group
        = f.label :location, '場所', class: "control-label"
        .col-sm-10= f.text_field :location, class: "form-control"
      .form-group
        = f.label :bio, '自己紹介', class: "control-label"
        .col-sm-10
          = f.text_area :bio, rows: 4, class: "form-control", maxlength: 250
          %span.help-block 250字以内で自己紹介してください。

    .col-md-5
      .light-well
        = image_tag avatar_icon(@user.email, 160), alt: '', class: 'avatar s160'

        .clearfix
          .profile-avatar-form-option
            %p.light
              - if @user.avatar?
                アバターを変更
                - if Gitlab.config.gravatar.enabled
                  %br
                  またはアバターを #{link_to Gitlab.config.gravatar.host, "http://" + Gitlab.config.gravatar.host} に戻すために現在のアバターを削除する
              - else
                アバターをアップロード
                - if Gitlab.config.gravatar.enabled
                  %br
                  または #{link_to Gitlab.config.gravatar.host, "http://" + Gitlab.config.gravatar.host} で変更
            %hr
            %a.choose-btn.btn.btn-sm.js-choose-user-avatar-button
              %i.fa.fa-paperclip
              %span ファイルを選択 ...
            &nbsp;
            %span.file_name.js-avatar-filename ファイル名...
            = f.file_field :avatar, class: "js-user-avatar-input hidden"
            .light ファイルの最大サイズは200KBです
            - if @user.avatar?
              %hr
              = link_to 'アバターを削除', profile_avatar_path, data: { confirm: "アバターを削除します。よろしいですか？"}, method: :delete, class: "btn btn-remove btn-sm remove-avatar"

      - if @user.public_profile?
        .alert.alert-info
          %h4 公開プロフィール
          %p 公開プロジェクトに所属しているため、あなたのプロフィールは誰でも閲覧可能です。


  .row
    .col-md-7
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.submit '変更を保存', class: "btn btn-success"
