.login-box
  %h3.page-title 確認メールの再送信
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    .devise-errors
      = devise_error_messages!
    .clearfix.append-bottom-20
      = f.email_field :email, placeholder: 'メールアドレス', class: "form-control", required: true
    .clearfix.append-bottom-10
      = f.submit "確認メールを再送信", class: 'btn btn-success'
  %hr
  %p
    %span.light
      ログインアカウントとパスワードをお持ちですか？
    %strong
      = link_to "サインイン", new_session_path(resource_name)
