= form_for @group_member, url: group_group_members_path(@group), html: { class: 'form-horizontal users-group-form' } do |f|
  .form-group
    = f.label :user_ids, "ユーザ", class: 'control-label'
    .col-sm-10= users_select_tag(:user_ids, multiple: true, class: 'input-large')

  .form-group
    = f.label :access_level, "グループアクセス権", class: 'control-label'
    .col-sm-10
      = select_tag :access_level, options_for_select(GroupMember.access_level_roles, @group_member.access_level), class: "project-access-select select2"
      .help-block
        アクセス権についての詳細は、
        %strong= link_to "こちら", help_page_path("permissions", "permissions"), class: "vlink"
        から確認できます。

  .form-actions
    = f.submit 'ユーザをグループに追加', class: "btn btn-create"
