<h2><%= resource_name.to_s.humanize %>を編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :name %><br />
    <%= f.text_field :name %></div>

  <div><%= f.label :password %> <i>(変更しない場合は空欄のままにしてください)</i><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(変更の確認のために現在のパスワードを入力してください)</i><br />
  <%= f.password_field :current_password %></div>

<div><%= f.submit "更新", class: "input_button" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>.</p>

<%= link_to "戻る", :back %>
