%ul.nav.nav-pills.nav-stacked.search-filter
  %li{class: ("active" if @scope == 'projects')}
    = link_to search_filter_path(scope: 'projects') do
      プロジェクト
      .pull-right
        = @search_results.projects_count
  %li{class: ("active" if @scope == 'issues')}
    = link_to search_filter_path(scope: 'issues') do
      課題
      .pull-right
        = @search_results.issues_count
  %li{class: ("active" if @scope == 'merge_requests')}
    = link_to search_filter_path(scope: 'merge_requests') do
      マージリクエスト
      .pull-right
        = @search_results.merge_requests_count
