.file-holder
  .file-title
    %i.icon-file
    %strong= @snippet.file_name
    %span.options
      .btn-group.tree-btn-group.pull-right
        - if @snippet.author == current_user
          = link_to "編集", edit_snippet_path(@snippet), class: "btn btn-tiny", title: 'スニペットを編集'
          = link_to "削除", snippet_path(@snippet), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-tiny", title: 'スニペットを削除'
        = link_to "Raw", raw_snippet_path(@snippet), class: "btn btn-tiny", target: "_blank"
  = render 'snippets/blob_content'
