%h3.page-title
  = @snippet.new_record? ? "新しいスニペット" : "スニペット ##{@snippet.id} を編集"
%hr
.snippet-form-holder
  = form_for @snippet, as: :personal_snippet, url: url, html: { class: "form-horizontal snippet-form" } do |f|
    -if @snippet.errors.any?
      .alert.alert-danger
        %ul
          - @snippet.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      = f.label :title, 'タイトル', class: 'control-label'
      .col-sm-10= f.text_field :title, placeholder: "Example Snippet", class: 'form-control', required: true
    .form-group
      = f.label "公開範囲", class: 'control-label'
      .col-sm-10
        = f.label :private_true, class: 'radio-label' do
          = f.radio_button :private, true
          %span
            %strong プライベート
            (このスニペットはあなたにしか見えません)
        %br
        = f.label :private_false, class: 'radio-label' do
          = f.radio_button :private, false
          %span
            %strong 公開
            (GitLabユーザはこのスニペットを見ることができます)

    .form-group
      .file-editor
        = f.label :file_name, "ファイル", class: 'control-label'
        .col-sm-10
          .file-holder.snippet
            .file-title
              = f.text_field :file_name, placeholder: "example.rb", class: 'form-control snippet-file-name', required: true
            .file-content.code
              %pre#editor= @snippet.content
              = f.hidden_field :content, class: 'snippet-file-content'

    .form-actions
      - if @snippet.new_record?
        = f.submit 'スニペットを作成', class: "btn-create btn"
      - else
        = f.submit '保存', class: "btn-save btn"

      - unless @snippet.new_record?
        .pull-right.prepend-left-20
          = link_to '削除', snippet_path(@snippet), data: { confirm: 'スニペットの削除は元に戻せません。本当に削除しますか？'}, method: :delete, class: "btn btn-remove delete-snippet", id: "destroy_snippet_#{@snippet.id}"
      = link_to "キャンセル", snippets_path(@project), class: "btn btn-cancel"


:javascript
  var editor = ace.edit("editor");
  $(".snippet-form-holder form").submit(function(){
    $(".snippet-file-content").val(editor.getValue());
  });

