- page_title "By #{@user.name}", "スニペット"

%ol.breadcrumb
  %li
    = link_to snippets_path do
      スニペット
  %li
    = @user.name
  .pull-right.hidden-xs
    = link_to user_path(@user) do
      #{@user.name}のプロフィールページ

= render 'snippets'
