- page_title @snippet.title, "スニペット"
%h4.page-title
  = @snippet.title

  - if @snippet.private?
    %span.label.label-success
      %i.fa.fa-lock
      プライベート

  .pull-right
    = link_to new_snippet_path, class: "btn btn-new btn-sm", title: "新しいスニペット" do
      新しいスニペットを追加

.append-bottom-10.prepend-top-10
  .pull-right
    %span.light
      created by
      = link_to user_snippets_path(@snippet.author) do
        = @snippet.author_name

  .back-link
    - if @snippet.author == current_user
      = link_to dashboard_snippets_path do
        &larr; あなたのスニペット
    - else
      = link_to explore_snippets_path do
        &larr; スニペットを探す

.file-holder
  .file-title
    %i.fa.fa-file
    %strong
      = @snippet.file_name
    .file-actions
      .btn-group
        - if can?(current_user, :update_personal_snippet, @snippet)
          = link_to "編集", edit_snippet_path(@snippet), class: "btn btn-sm", title: 'スニペットを編集'
        = link_to "raw", raw_snippet_path(@snippet), class: "btn btn-sm", target: "_blank"
      - if can?(current_user, :admin_personal_snippet, @snippet)
        = link_to "削除", snippet_path(@snippet), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-remove", title: 'スニペットを削除'
  = render 'shared/snippets/blob'
