- page_title "メールアドレス"
- header_title page_title, profile_emails_path

.gray-content-block.top-block
  あなたのアカウントに紐付くメールアドレスを管理します。

%ul.prepend-top-default
  %li
    %b プライマリメールアドレス
    はアバターの検出やWebベースの操作(編集やマージなど)に使用されます。
  %li
    %b 通知メールアドレス
    はアカウントの通知に使用されます。
  %li
    %b 公開メールアドレス
    はあなたの公開プロフィールに表示されます。
  %li
    すべてのメールアドレスはあなたのコミットの識別に使用されます。

.panel.panel-default
  .panel-heading
    メールアドレス (#{@emails.count + 1})
  %ul.well-list#emails-table
    %li
      %strong= @primary
      %span.label.label-success プライマリメールアドレス
      - if @primary === current_user.public_email
        %span.label.label-info 公開メールアドレス
      - if @primary === current_user.notification_email
        %span.label.label-info 通知メールアドレス
    - @emails.each do |email|
      %li
        %strong= email.email
        - if email.email === current_user.public_email
          %span.label.label-info 公開メールアドレス
        - if email.email === current_user.notification_email
          %span.label.label-info 通知メールアドレス
        %span.cgray
          #{time_ago_with_tooltip(email.created_at)} に追加
        = link_to '削除', profile_email_path(email), data: { confirm: '本当に削除しますか？'}, method: :delete, class: 'btn btn-sm btn-remove pull-right'

%h4 メールアドレスの追加
= form_for 'email', url: profile_emails_path, html: { class: 'form-horizontal' } do |f|
  .form-group
    = f.label :email, 'メールアドレス', class: 'control-label'
    .col-sm-10
      = f.text_field :email, class: 'form-control'
  .form-actions
    = f.submit 'メールアドレスを追加', class: 'btn btn-create'
