%h3.page-title
  メールアドレス
%p.light
  あなたの
  %b プライマリメールアドレス
  はアカウントの通知、アバターの検出、Webベースの操作(編集やマージなど)に使用されます。
  %br
  すべてのメールアドレスはあなたのコミットの識別に使用されます。

%hr

.panel.panel-default
  .panel-heading
    メールアドレス (#{@emails.count + 1})
  %ul.well-list#emails-table
    %li
      %strong= @primary
      %span.label.label-success プライマリメールアドレス
    - @emails.each do |email|
      %li
        %strong= email.email
        %span.cgray
          #{time_ago_with_tooltip(email.created_at)} に追加
        = link_to '削除', profile_email_path(email), data: { confirm: '本当に削除しますか？'}, method: :delete, class: 'btn btn-small btn-remove pull-right'

%h4 メールアドレスの追加
= form_for 'email', url: profile_emails_path, html: { class: 'form-horizontal' } do |f|
  .form-group
    = f.label :email, 'メールアドレス', class: 'control-label'
    .col-sm-10
      = f.text_field :email, class: 'form-control'
  .form-actions
    = f.submit '追加', class: 'btn btn-create'
