%ul.nav.nav-sidebar
  = nav_link(path: 'projects#trending') do
    = link_to explore_root_path, title: 'トレンドプロジェクト', data: {placement: 'right'} do
      = icon('comments fw')
      %span トレンドプロジェクト
  = nav_link(path: 'projects#starred') do
    = link_to starred_explore_projects_path, title: 'スターの多いプロジェクト', data: {placement: 'right'} do
      = icon('star fw')
      %span スターの多いプロジェクト
  = nav_link(path: 'projects#index') do
    = link_to explore_projects_path, title: 'すべてのプロジェクト', data: {placement: 'right'} do
      = icon('bookmark fw')
      %span すべてのプロジェクト
  = nav_link(controller: :groups) do
    = link_to explore_groups_path, title: 'すべてのグループ', data: {placement: 'right'} do
      = icon('group fw')
      %span すべてのグループ

