%ul.nav.nav-sidebar
  = nav_link do
    = link_to root_path, title: 'ダッシュボードに戻る', data: {placement: 'right'}, class: 'back-link' do
      = icon('caret-square-o-left fw')
      %span
        ダッシュボードに戻る

  %li.separate-item

  = nav_link(path: 'profiles#show', html_options: {class: 'home'}) do
    = link_to profile_path, title: 'プロフィール', data: {placement: 'right'} do
      = icon('user fw')
      %span
        プロフィール設定
  = nav_link(controller: [:accounts, :two_factor_auths]) do
    = link_to profile_account_path, title: 'アカウント', data: {placement: 'right'} do
      = icon('gear fw')
      %span
        アカウント
  = nav_link(path: ['profiles#applications', 'applications#edit', 'applications#show', 'applications#new', 'applications#create']) do
    = link_to applications_profile_path, title: 'アプリケーション', data: {placement: 'right'} do
      = icon('cloud fw')
      %span
        アプリケーション
  = nav_link(controller: :emails) do
    = link_to profile_emails_path, title: 'メール', data: {placement: 'right'} do
      = icon('envelope-o fw')
      %span
        メール
        %span.count= current_user.emails.count + 1
  - unless current_user.ldap_user?
    = nav_link(controller: :passwords) do
      = link_to edit_profile_password_path, title: 'パスワード', data: {placement: 'right'} do
        = icon('lock fw')
        %span
          パスワード
  = nav_link(controller: :notifications) do
    = link_to profile_notifications_path, title: '通知', data: {placement: 'right'} do
      = icon('inbox fw')
      %span
        通知

  = nav_link(controller: :keys) do
    = link_to profile_keys_path, title: 'SSHキー', data: {placement: 'right'} do
      = icon('key fw')
      %span
        SSHキー
        %span.count= current_user.keys.count
  = nav_link(controller: :preferences) do
    = link_to profile_preferences_path, title: '設定', data: {placement: 'right'} do
      -# TODO (rspeicher): Better icon?
      = icon('image fw')
      %span
        設定
  = nav_link(path: 'profiles#audit_log') do
    = link_to audit_log_profile_path, title: '履歴', data: {placement: 'right'} do
      = icon('history fw')
      %span
        履歴
