%h3.page-title 保護ブランチ
%p.light 安定ブランチを安全にし、開発者にマージリクエストの利用を強制します。
%hr

.bs-callout.bs-callout-info
  %p 保護ブランチは以下の目的のために設計されています。
  %ul
    %li #{link_to "Master", help_page_path("permissions", "permissions"), class: "vlink"}権限のメンバー以外によるプッシュを防ぐ
    %li 強制プッシュからブランチを守る
    %li ブランチの削除から守る
  %p プロジェクトの権限についての詳細は #{link_to "こちら", help_page_path("permissions", "permissions"), class: "underlined-link"} からご確認ください。

- if can? current_user, :admin_project, @project
  = form_for [@project, @protected_branch], html: { class: 'form-horizontal' } do |f|
    -if @protected_branch.errors.any?
      .alert.alert-danger
        %ul
          - @protected_branch.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      = f.label :name, "ブランチ", class: 'control-label'
      .col-sm-10
        = f.select(:name, @project.open_branches.map { |br| [br.name, br.name] } , {include_blank: "ブランチを選択"}, {class: "select2"})
    .form-group
      = f.label :developers_can_push, class: 'control-label' do
        開発者はプッシュ可能
      .col-sm-10
        .checkbox
          = f.check_box :developers_can_push
          %span.descr 開発者にこのブランチへのプッシュを許可
    .form-actions
      = f.submit '保護', class: "btn-create btn"
= render 'branches_list'

