%h3.page-title
  アカウント設定
%p.light
  ユーザ名とプライベートトークンを変更することができます。
  - if current_user.ldap_user?
    いくつかのオプションはLDAPアカウントでは利用できません。
%hr


.account-page
  %fieldset.update-token
    %legend
      プライベートトークン
    %div
      = form_for @user, url: reset_private_token_profile_path, method: :put do |f|
        .data
          %p
            プライベートトークンは認証なしでアプリケーションのリソースにアクセスするのに使われます。
            %br
            ATOMフィードやAPIでのアクセスに利用できます。
            %span.cred
              厳重に保管してください
            。

          %p.cgray
            - if current_user.private_token
              = text_field_tag "token", current_user.private_token, class: "form-control"
              %div
                = f.submit 'リセット', data: { confirm: "リセットしてよろしいですか？" }, class: "btn btn-primary btn-build-token"
            - else
              %span トークンがありません。「生成」をクリックして生成してください。
              = f.submit '生成', class: "btn success btn-build-token"


  - if show_profile_social_tab?
    %fieldset
      %legend ソーシャルアカウント
      .oauth_select_holder.append-bottom-10
        %p 以下の各サービスを使ったサインインを有効化するには、アイコンをクリックしてください。
        - enabled_social_providers.each do |provider|
          %span{class: oauth_active_class(provider) }
            = link_to authbutton(provider, 32), omniauth_authorize_path(User, provider)

  - if show_profile_username_tab?
    %fieldset.update-username
      %legend
        ユーザ名
      = form_for @user, url: update_username_profile_path,  method: :put, remote: true do |f|
        %p
          注意：ユーザ名を変更すると、あなたの所有するすべてのプロジェクトのパスが変更されます。
        %div
          = f.text_field :username, required: true, class: 'form-control'
          &nbsp;
        .loading-gif.hide
          %p
            %i.fa.fa-spinner.fa-spin
            ユーザ名を保存しています
        %p.light
          = user_url(@user)
        %div
          = f.submit 'ユーザ名を保存', class: "btn btn-save"

  - if show_profile_remove_tab?
    %fieldset.remove-account
      %legend
        アカウントの削除
      %div
        %p アカウントを削除すると以下の影響があります。
        %ul
          %li 課題、スニペット、コメントといった、このユーザが作成したすべてのコンテンツが削除されます
          - rp = current_user.personal_projects.count
          - unless rp.zero?
            %li #{rp}個の個人プロジェクトが削除され、元に戻すことはできません
          - if current_user.solo_owned_groups.present?
            %li
              以下のグループが破棄されます。移譲しなければ、削除されます。
              %strong #{current_user.solo_owned_groups.map(&:name).join(', ')}
        = link_to 'アカウントを削除', user_registration_path, data: { confirm: "#{current_user.name}を削除します。本当によろしいですか？" }, method: :delete, class: "btn btn-remove"
