- page_title "アカウント"
%h3.page-title
  = page_title
%p.light
  ユーザ名と基本的なアカウントの設定を行います。
%hr
- if current_user.ldap_user?
  .alert.alert-info
    いくつかのオプションはLDAPアカウントでは利用できません。

.account-page
  .panel.panel-default.update-token
    .panel-heading
      プライベートトークンのリセット
    .panel-body
      = form_for @user, url: reset_private_token_profile_path, method: :put do |f|
        .data
          %p
            プライベートトークンは認証なしでアプリケーションのリソースにアクセスするのに使われます。
            %br
            ATOMフィードやAPIでのアクセスに利用できます。
            %span.cred
              厳重に保管してください
            。

          %p.cgray
            - if current_user.private_token
              = text_field_tag "token", current_user.private_token, class: "form-control"
              %div
                = f.submit 'プライベートトークンをリセット', data: { confirm: "リセットしてよろしいですか？" }, class: "btn btn-default btn-build-token"
            - else
              %span トークンがありません。「生成」をクリックして生成してください。
              = f.submit '生成', class: "btn btn-default btn-build-token"

  - unless current_user.ldap_user?
    .panel.panel-default
      .panel-heading
        二段階認証
      .panel-body
        - if current_user.two_factor_enabled?
          .pull-right
            = link_to '二段階認証を無効にする', profile_two_factor_auth_path, method: :delete, class: 'btn btn-close btn-sm',
                data: { confirm: '本当に無効にしますか？' }
          %p.text-success
            %strong
              二段階認証は有効です
          %p
            If you lose your recovery codes you can
            %strong
              = succeed ',' do
                = link_to 'generate new ones', codes_profile_two_factor_auth_path, method: :post, data: { confirm: 'Are you sure?' }
            invalidating all previous codes.

        - else
          %p
            Increase your account's security by enabling two-factor authentication (2FA).
          %p
            Each time you log in you’ll be required to provide your username and
            password as usual, plus a randomly-generated code from your phone.
          %div
            = link_to '二段階認証を有効にする', new_profile_two_factor_auth_path, class: 'btn btn-success'

  - if button_based_providers.any?
    .panel.panel-default
      .panel-heading
        接続中アカウント
      .panel-body
        .oauth-buttons.append-bottom-10
          %p 以下の各サービスを使ったサインインを有効化するには、アイコンをクリックしてください。
          - button_based_providers.each do |provider|
            .btn-group
              = link_to provider_image_tag(provider), user_omniauth_authorize_path(provider), method: :post, class: "btn btn-lg #{'active' if auth_active?(provider)}", "data-no-turbolink" => "true"
                  
              - if auth_active?(provider)
                = link_to unlink_profile_account_path(provider: provider), method: :delete, class: 'btn btn-lg' do
                  = icon('close')

  - if current_user.can_change_username?
    .panel.panel-warning.update-username
      .panel-heading
        ユーザ名の変更
      .panel-body
        = form_for @user, url: update_username_profile_path,  method: :put, remote: true do |f|
          %p
            ユーザ名を変更すると、あなたの所有するすべてのプロジェクトのパスが変更されます！
          %div
            = f.text_field :username, required: true, class: 'form-control'
            &nbsp;
          .loading-gif.hide
            %p
              = icon('spinner spin')
              ユーザ名を保存しています
          %p.light
            = user_url(@user)
          %div
            = f.submit 'ユーザ名を保存', class: "btn btn-warning"

  - if signup_enabled?
    .panel.panel-danger.remove-account
      .panel-heading
        アカウントの削除
      .panel-body
        - if @user.can_be_removed?
          %p アカウントを削除すると以下の影響があります。
          %ul
            %li 課題、スニペット、コメントといった、このユーザが作成したすべてのコンテンツが削除されます
            - rp = current_user.personal_projects.count
            - unless rp.zero?
              %li #{rp}個の個人プロジェクトが削除され、元に戻すことはできません
          = link_to 'アカウントを削除', user_registration_path, data: { confirm: "#{current_user.name}を削除します。本当によろしいですか？" }, method: :delete, class: "btn btn-remove"
        - else
          - if @user.solo_owned_groups.present?
            %p
              あなたのアカウントは現在次のグループの所有者です:
              %strong #{@user.solo_owned_groups.map(&:name).join(', ')}
            %p
              アカウントを削除する前に、これらのグループの所有権を移譲するか、グループを削除してください。
