%li
  = link_to profile_key_path(key) do
    %strong= key.title
  %span
    (#{key.fingerprint})
  %span.cgray
    #{time_ago_with_tooltip(key.created_at)} に追加

  = link_to '削除', profile_key_path(key), data: { confirm: '本当に削除しますか？'}, method: :delete, class: "btn btn-small btn-remove delete-key pull-right"
