- is_admin = defined?(admin) ? true : false
.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        SSHキー
      %ul.well-list
        %li
          %span.light タイトル:
          %strong= @key.title
        %li
          %span.light 作成日:
          %strong= @key.created_at.stamp("2011/08/21")

  .col-md-8
    %p
      %span.light フィンガープリント:
      %code.key-fingerprint= @key.fingerprint
    %pre.well-pre
      = @key.key
  .col-md-12
    .pull-right
      = link_to '削除', path_to_key(@key, is_admin), data: {confirm: '本当に削除しますか？'}, method: :delete, class: "btn btn-remove delete-key"
