= render "projects/commits/head"

%h3.page-title
  比較ビュー

= render "form"

- if @commits.present?
  %div.panel.panel-default
    .panel-heading
      コミット (#{@commits.count})
    - if @commits.size > MergeRequestDiff::COMMITS_SAFE_SIZE
      %ul.well-list
        - Commit.decorate(@commits.first(MergeRequestDiff::COMMITS_SAFE_SIZE)).each do |commit|
          = render "projects/commits/inline_commit", commit: commit, project: @project
        %li.warning-row.unstyled
          他の #{@commits.size - MergeRequestDiff::COMMITS_SAFE_SIZE} コミットはパフォーマンスの悪化を避けるため表示されません。
    - else
      %ul.well-list= render Commit.decorate(@commits), project: @project

  = render "projects/commits/diffs", diffs: @diffs, project: @project

- else
  .light-well
    .center
      %h4
        比較するものはありません
      %p.slead
        - if params[:to] == params[:from]
          比較するには違うブランチ名を指定してください。
        - else
          %span.label-branch #{params[:from]}
          と
          %span.label-branch #{params[:to]}
          が同一です。
