- page_title "デプロイキー"

%h3.page-title
  デプロイキーでリポジトリの読み取り専用アクセス

  = link_to new_namespace_project_deploy_key_path(@project.namespace, @project), class: "btn btn-new pull-right", title: "新しいデプロイキー" do
    %i.fa.fa-plus
    新しいデプロイキー

%p.light
  デプロイキーはCI、ステージング、本番サーバに使われます。
  デプロイキーを新規作成、または既存のものを追加することができます。

%hr.clearfix

.row
  .col-md-6.enabled-keys
    %h5
      %strong.cgreen このプロジェクトで有効なデプロイキー
    %ul.bordered-list
      = render @enabled_keys
      - if @enabled_keys.blank?
        .light-well
          .nothing-here-block #{link_to '新しいデプロイキー', new_namespace_project_deploy_key_path(@project.namespace, @project)}を作成 または 既存のキーを追加
  .col-md-6.available-keys
    - # If there are available public deploy keys but no available project deploy keys, only public deploy keys are shown.
    - if @available_project_keys.any? || @available_public_keys.blank?
      %h5
        %strong 利用可能なプロジェクトのデプロイキー
      %ul.bordered-list
        = render @available_project_keys
        - if @available_project_keys.blank?
          .light-well
            .nothing-here-block アクセス可能なプロジェクトのデプロイキーがここに表示されます

    - if @available_public_keys.any?
      %h5
        %strong 利用可能な公開デプロイキー
      %ul.bordered-list
        = render @available_public_keys
