%h3.page-title
  課題
  %span.pull-right #{@issues.total_count} 件の課題

%p.light
  %strong #{@group.name}
  グループの課題だけが表示されています。
  - if current_user
    すべての課題を確認するには #{link_to 'ダッシュボード', issues_dashboard_path} を表示してください。
%hr

.row
  .col-md-3
    = render 'shared/filter', entity: 'issue'
  .col-md-9
    = render 'shared/issues'
