- page_title    "スニペット"
- header_title  "スニペット", dashboard_snippets_path

= render 'dashboard/snippets_head'

.gray-content-block
  .pull-right
    = link_to new_snippet_path, class: "btn btn-new", title: "新しいスニペット" do
      新しいスニペットを追加

  .oneline
    Gitリポジトリ外でコードをペーストして共有

%ul.nav.nav-tabs.prepend-top-20
  = nav_tab :scope, nil do
    = link_to dashboard_snippets_path do
      すべて
      %span.badge
        = current_user.snippets.count
  = nav_tab :scope, 'are_private' do
    = link_to dashboard_snippets_path(scope: 'are_private') do
      プライベート
      %span.badge
        = current_user.snippets.are_private.count
  = nav_tab :scope, 'are_internal' do
    = link_to dashboard_snippets_path(scope: 'are_internal') do
      内部
      %span.badge
        = current_user.snippets.are_internal.count
  = nav_tab :scope, 'are_public' do
    = link_to dashboard_snippets_path(scope: 'are_public') do
      公開
      %span.badge
        = current_user.snippets.are_public.count

.my-snippets
  = render 'snippets/snippets'

