= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "login-box", method: :post }) do |f|
  %h3.page-title パスワードのリセット
  .devise-errors
    = devise_error_messages!
  .clearfix.append-bottom-20
    = f.email_field :email, placeholder: "メールアドレス",  class: "form-control", required: true
  .clearfix.append-bottom-10
    = f.submit "パスワードをリセット", class: "btn-primary btn"
  %hr
  %p
    %span.light
      ログインアカウントとパスワードをお持ちですか？
    %strong
      = link_to "サインイン", new_session_path(resource_name)
