- if cookies[:hide_no_ssh_message].blank? && current_user.require_ssh_key? && !current_user.hide_no_ssh_key
  .no-ssh-key-message
    .container
      プロファイルに#{link_to 'SSHキーを追加', new_profile_key_path}するまでプロジェクトのコードをプッシュ、プルすることはできません
      .pull-right.hidden-xs
        = link_to "次から表示しない", profile_path(user: {hide_no_ssh_key: true}), method: :put, class: 'hide-no-ssh-message', remote: true
        |
        = link_to '後で表示', '#', class: 'hide-no-ssh-message'
      .links-xs.visible-xs
        = link_to "キーを追加", new_profile_key_path
        |
        = link_to "次から表示しない", profile_path(user: {hide_no_ssh_key: true}), method: :put, class: 'hide-no-ssh-message', remote: true
        |
        = link_to '後で表示', '#', class: 'hide-no-ssh-message'
