.dropdown.inline.prepend-left-10
  %a.dropdown-toggle.btn{href: '#', "data-toggle" => "dropdown"}
    %span.light 並び替え:
    - if @sort.present?
      - case @sort.downcase
      - when 'newest'
        新しい順
      - when 'oldest'
        古い順
      - when 'recently_updated'
        最近更新された
      - when 'last_updated'
        最終更新日
      - when 'milestone_due_soon'
        マイルストーンが近い順
      - when 'milestone_due_later'
        マイルストーンが遠い順
    - else
      新しい順
    %b.caret
  %ul.dropdown-menu
    %li
      = link_to project_filter_path(sort: 'newest') do
        = sort_title_recently_created
      = link_to project_filter_path(sort: 'oldest') do
        = sort_title_oldest_created
      = link_to project_filter_path(sort: 'recently_updated') do
        = sort_title_recently_updated
      = link_to project_filter_path(sort: 'last_updated') do
        = sort_title_oldest_updated
      = link_to project_filter_path(sort: 'milestone_due_soon') do
        マイルストーンが近い順
      = link_to project_filter_path(sort: 'milestone_due_later') do
        マイルストーンが遠い順
