- page_title "メンバー"
= render "header_title"

.gray-content-block.top-block
  .clearfix.js-toggle-container
    = form_tag namespace_project_project_members_path(@project.namespace, @project), method: :get, class: 'form-inline member-search-form'  do
      .form-group
        = search_field_tag :search, params[:search], { placeholder: '登録メンバーを名前で検索', class: 'form-control search-text-input' }
      = button_tag '検索', class: 'btn'

    - if can?(current_user, :admin_project_member, @project)
      %span.pull-right
        = button_tag class: 'btn btn-new btn-grouped js-toggle-button', type: 'button' do
          メンバーを追加
          %i.fa.fa-chevron-down
        = link_to import_namespace_project_project_members_path(@project.namespace, @project), class: "btn btn-grouped", title: "別のプロジェクトからメンバーをインポート" do
          メンバーをインポート

      .js-toggle-content.hide.new-group-member-holder
        = render "new_project_member"

%p.prepend-top-default.light
  このプロジェクトにアクセスできるユーザは以下の通りです。
  アクセス権についての詳細は、
  %strong= link_to "こちら", help_page_path("permissions", "permissions"), class: "vlink"
  から確認できます。

= render "team", members: @project_members

- if @group
  = render "group_members", members: @group_members

:coffeescript
  $('form.member-search-form').on 'submit', (event) ->
    event.preventDefault()
    Turbolinks.visit @.action + '?' + $(@).serialize()
