%h3.page-title
  システムOAuthアプリケーション
%p.light
  システムOAuthアプリケーションは特定のユーザのものではなく、管理者のみによって管理されます。
%hr
%p= link_to '新しいアプリケーション', new_admin_application_path, class: 'btn btn-success'
%table.table.table-striped
  %thead
    %tr
      %th 名前
      %th コールバックURL
      %th クライアント
      %th
      %th
  %tbody.oauth-applications
    - @applications.each do |application|
      %tr{:id => "application_#{application.id}"}
        %td= link_to application.name, admin_application_path(application)
        %td= application.redirect_uri
        %td= application.access_tokens.map(&:resource_owner_id).uniq.count
        %td= link_to '編集', edit_admin_application_path(application), class: 'btn btn-link'
        %td= render 'delete_form', application: application
