- page_title "編集", @page.title, "Wiki"
= render "header_title"

= render 'nav'
.pull-right
  = render 'main_links'
%h3.page-title
  %span.light #{@page.title}
  を編集中
%hr
= render 'form'

.pull-right
  - if @page.persisted? && can?(current_user, :admin_wiki, @project)
    = link_to namespace_project_wiki_path(@project.namespace, @project, @page), data: { confirm: "本当にこのページを削除しますか？"}, method: :delete, class: "btn btn-sm btn-remove" do
      このページを削除
