= render 'nav'
%h3.page-title
  = link_to @page.title, project_wiki_path(@project, @page)
  %span.light の更新履歴

%table.table
  %thead
    %tr
      %th バージョン
      %th 更新者
      %th コミットメッセージ
      %th 最終更新日
      %th 形式
  %tbody
    - @page.versions.each do |version|
      - commit = version
      %tr
        %td
          = link_to project_wiki_path(@project, @page, version_id: commit.id) do
            = commit.short_id
        %td
          = commit_author_link(commit, avatar: true, size: 24)
        %td
          = commit.title
        %td
          #{time_ago_with_tooltip(version.date)}
        %td
          %strong
            = @page.page.wiki.page(@page.page.name, commit.id).try(:format)
