- page_title @page.title.capitalize, "Wiki"
= render "header_title"

= render 'nav'

.gray-content-block
  = render 'main_links'
  %h3.page-title
    = @page.title.capitalize

  .wiki-last-edit-by
    #{@page.commit.author.name}が#{time_ago_with_tooltip(@page.commit.authored_date)}に更新

- if @page.historical?
  .warning_message
    これはこのページの古いバージョンです。
    #{link_to "最新バージョン", namespace_project_wiki_path(@project.namespace, @project, @page)}や#{link_to "履歴", namespace_project_wiki_history_path(@project.namespace, @project, @page)}を見ることができます。


.wiki-holder.prepend-top-default
  .wiki
    = preserve do
      = render_wiki_content(@page)

.gray-content-block.footer-block
  .wiki-last-edit-by
    #{@page.commit.author.name}が#{time_ago_with_tooltip(@page.commit.authored_date)}に更新

