%li{class: "milestone milestone-#{milestone.closed? ? 'closed' : 'open'}", id: dom_id(milestone.milestones.first) }
  .pull-right
    - if can?(current_user, :admin_group, @group)
      - if milestone.closed?
        = link_to 'マイルストーンを再オープン', group_milestone_path(@group, milestone.safe_title, title: milestone.title, milestone: {state_event: :activate }), method: :put, class: "btn btn-sm btn-grouped btn-reopen"
      - else
        = link_to 'マイルストーンをクローズ', group_milestone_path(@group, milestone.safe_title, title: milestone.title, milestone: {state_event: :close }), method: :put, class: "btn btn-sm btn-close"
  %h4
    = link_to_gfm truncate(milestone.title, length: 100), group_milestone_path(@group, milestone.safe_title, title: milestone.title)
  .row
    .col-sm-6
      = link_to issues_group_path(@group, milestone_title: milestone.title) do
        #{milestone.issue_count}件の課題
      &nbsp;
      = link_to merge_requests_group_path(@group, milestone_title: milestone.title) do
        #{milestone.merge_requests_count}件のマージリクエスト
      &nbsp;
      %span.light #{milestone.percent_complete}% 完了
    .col-sm-6
      = milestone_progress_bar(milestone)
  %div
    - milestone.milestones.each do |milestone|
      = link_to milestone_path(milestone) do
        %span.label.label-gray
          = milestone.project.name
