- if issuable.errors.any?
  .row
    .col-sm-10.col-sm-offset-2
      .alert.alert-danger
        - issuable.errors.full_messages.each do |msg|
          %span= msg
          %br
.form-group
  = f.label :title, class: 'control-label' do
    %strong= 'タイトル *'
  .col-sm-10
    = f.text_field :title, maxlength: 255, autofocus: true,
        class: 'form-control pad js-gfm-input', required: true
.form-group.issuable-description
  = f.label :description, '説明', class: 'control-label'
  .col-sm-10

    = render layout: 'projects/md_preview', locals: { preview_class: "wiki" } do
      = render 'projects/zen', f: f, attr: :description,
                               classes: 'description form-control'
      .col-sm-12.hint
        .pull-left
          #{link_to 'GitLab Flavored Markdown', help_page_path('markdown', 'markdown'), target: '_blank'}.
          としてパースされます
        .pull-right
          ドラッグ &amp; ドロップまたは#{link_to 'ファイルを選択', '#', class: 'markdown-selector' }して
          画像 (JPG, PNG, GIF) を添付

      .clearfix
      .error-alert
%hr
.form-group
  .issue-assignee
    = f.label :assignee_id, class: 'control-label' do
      %i.fa.fa-user
      担当者
    .col-sm-10
      = project_users_select_tag("#{issuable.class.model_name.param_key}[assignee_id]",
          placeholder: 'ユーザを選択', class: 'custom-form-control',
          selected: issuable.assignee_id)
      &nbsp;
      = link_to '自分に割り当てる', '#', class: 'btn assign-to-me-link'
.form-group
  .issue-milestone
    = f.label :milestone_id, class: 'control-label' do
      %i.fa.fa-clock-o
      マイルストーン
    .col-sm-10
      - if milestone_options(issuable).present?
        = f.select(:milestone_id, milestone_options(issuable),
          { include_blank: 'マイルストーンを選択' }, { class: 'select2' })
      - else
        %span.light オープン中のマイルストーンがありません。
      &nbsp;
      - if can? current_user, :admin_milestone, issuable.project
        = link_to '新しいマイルストーンを作成', new_project_milestone_path(issuable.project), target: :blank
.form-group
  = f.label :label_ids, class: 'control-label' do
    %i.fa.fa-tag
    ラベル
  .col-sm-10
    - if issuable.project.labels.any?
      = f.collection_select :label_ids, issuable.project.labels.all, :id, :name,
        { selected: issuable.label_ids }, multiple: true, class: 'select2'
    - else
      %span.light ラベルがありません。
    &nbsp;
    - if can? current_user, :admin_label, issuable.project
      = link_to '新しいラベルを作成', new_project_label_path(issuable.project), target: :blank

.form-actions
  - if !issuable.project.empty_repo? && contribution_guide_url(issuable.project) && !issuable.persisted?
    %p
      Please review the
      %strong #{link_to 'コントリビューション・ガイドライン', contribution_guide_url(issuable.project)}
      to this repository.
  - if issuable.new_record?
    = f.submit "新しい#{issuable.class.model_name.human.downcase}を作成", class: 'btn btn-create'
  - else
    = f.submit '変更を保存', class: 'btn btn-save'
  - if issuable.new_record?
    - cancel_project = issuable.source_project
  - else
    - cancel_project = issuable.project
  = link_to 'キャンセル', [cancel_project, issuable], class: 'btn btn-cancel'
