- @blank_container = true

.project-edit-container
  .project-edit-errors
  .project-edit-content
    .panel.panel-default
      .panel-heading
        プロジェクト設定
      .panel-body
        = form_for [@project.namespace.becomes(Namespace), @project], remote: true, html: { multipart: true, class: "edit_project form-horizontal fieldset-form" }, authenticity_token: true do |f|

          %fieldset
            .form-group.project_name_holder
              = f.label :name, class: 'control-label' do
                プロジェクト名
              .col-sm-10
                = f.text_field :name, placeholder: "Example Project", class: "form-control", id: "project_name_edit"


            .form-group
              = f.label :description, class: 'control-label' do
                説明
                %span.light (任意)
              .col-sm-10
                = f.text_area :description, placeholder: "すばらしいプロジェクト", class: "form-control", rows: 3, maxlength: 250

            - if @project.repository.exists? && @project.repository.branch_names.any?
              .form-group
                = f.label :default_branch, "デフォルトブランチ", class: 'control-label'
                .col-sm-10= f.select(:default_branch, @repository.branch_names, {}, {class: 'select2 select-wide'})


          = render 'shared/visibility_level', f: f, visibility_level: @project.visibility_level, can_change_visibility_level: can_change_visibility_level?(@project, current_user), form_model: @project

          .form-group
            = f.label :tag_list, "タグ", class: 'control-label'
            .col-sm-10
              = f.text_field :tag_list, maxlength: 2000, class: "form-control"
              %p.help-block タグはカンマで区切ります

          %fieldset.features
            %legend
              機能:
            .form-group
              .col-sm-offset-2.col-sm-10
                .checkbox
                  = f.label :issues_enabled do
                    = f.check_box :issues_enabled
                    %strong 課題
                    %br
                    %span.descr このプロジェクト用の軽量な課題トラッキングシステム

            .form-group
              .col-sm-offset-2.col-sm-10
                .checkbox
                  = f.label :merge_requests_enabled do
                    = f.check_box :merge_requests_enabled
                    %strong マージリクエスト
                    %br
                    %span.descr Upstreamにマージしてもらうように変更を送信

            .form-group
              .col-sm-offset-2.col-sm-10
                .checkbox
                  = f.label :wiki_enabled do
                    = f.check_box :wiki_enabled
                    %strong Wiki
                    %br
                    %span.descr プロジェクトのドキュメントページ

            .form-group
              .col-sm-offset-2.col-sm-10
                .checkbox
                  = f.label :snippets_enabled do
                    = f.check_box :snippets_enabled
                    %strong スニペット
                    %br
                    %span.descr Gitリポジトリ外でコードをペーストして共有

          %fieldset.features
            %legend
              プロジェクトアバター:
            .form-group
              .col-sm-offset-2.col-sm-10
                - if @project.avatar?
                  = project_icon("#{@project.namespace.to_param}/#{@project.to_param}", alt: '', class: 'avatar project-avatar s160')
                %p.light
                  - if @project.avatar_in_git
                    リポジトリのプロジェクトアバター: #{ @project.avatar_in_git }
                %p.light
                  - if @project.avatar?
                    プロジェクトアバターを変更できます
                  - else
                    プロジェクトアバターをアップロードできます
                %a.choose-btn.btn.btn-sm.js-choose-project-avatar-button
                  %i.icon-paper-clip
                  %span ファイルを選択 ...
                &nbsp;
                %span.file_name.js-avatar-filename ファイル名...
                = f.file_field :avatar, class: "js-project-avatar-input hidden"
                .light ファイルの最大サイズは200KBです
                - if @project.avatar?
                  %hr
                  = link_to 'アバターを削除', namespace_project_avatar_path(@project.namespace, @project), data: { confirm: "プロジェクトアバターが削除されます。本当に削除しますか？"}, method: :delete, class: "btn btn-remove btn-sm remove-avatar"

          .form-actions
            = f.submit '変更を保存', class: "btn btn-save"



    .danger-settings
      - if can? current_user, :archive_project, @project
        - if @project.archived?
          .panel.panel-success
            .panel-heading
              プロジェクトのアーカイブを解除
            .panel-body
              %p
                プロジェクトのアーカイブを解除すると、リポジトリはアクティブになります。
                %br
                プロジェクトにはコミットできるようになります。
                %br
                %strong プロジェクトをアクティブにすると、検索結果やダッシュボードに表示されるようになります。
              = link_to 'アーカイブを解除', unarchive_namespace_project_path(@project.namespace, @project),
                  data: { confirm: "本当にこのプロジェクトのアーカイブを解除しますか？\nアーカイブが解除されるとプロジェクトはアクティブになり、再びコミット可能になります。" },
                  method: :post, class: "btn btn-success"
        - else
          .panel.panel-warning
            .panel-heading
              プロジェクトをアーカイブ
            .panel-body
              %p
                プロジェクトをアーカイブするとリポジトリは読み取り専用になります。
                %br
                ダッシュボードからは非表示になり、検索結果にも表示されません。
                %br
                %strong アーカイブされたプロジェクトにはコミットできません！
              = link_to 'アーカイブ', archive_namespace_project_path(@project.namespace, @project),
                  data: { confirm: "本当にこのプロジェクトをアーカイブしますか？\nアーカイブされたプロジェクトにはコミットすることができません。" },
                  method: :post, class: "btn btn-warning"
      - else
        .nothing-here-block プロジェクトの所有者だけがプロジェクトをアーカイブすることができます。

      .panel.panel-default.panel.panel-warning
        .panel-heading リポジトリの名前変更
        .errors-holder
        .panel-body
          = form_for([@project.namespace.becomes(Namespace), @project], html: { class: 'form-horizontal' }) do |f|
            .form-group.project_name_holder
              = f.label :name, class: 'control-label' do
                プロジェクト名
              .col-sm-9
                .form-group
                  = f.text_field :name, placeholder: "Example Project", class: "form-control"
            .form-group
              = f.label :path, class: 'control-label' do
                %span パス
              .col-sm-9
                .form-group
                  .input-group
                    .input-group-addon
                      #{URI.join(root_url, @project.namespace.path)}/
                    = f.text_field :path, class: 'form-control'
                    %span.input-group-addon .git
                %ul
                  %li リポジトリの名前変更は意図しない副作用を招く可能性があります。ご注意ください。
                  %li ローカルリポジトリが新しい場所を指すように修正する必要があります。
            .form-actions
              = f.submit '名前変更', class: "btn btn-warning"

      - if can?(current_user, :change_namespace, @project)
        .panel.panel-default.panel.panel-danger
          .panel-heading プロジェクトを移譲
          .errors-holder
          .panel-body
            = form_for([@project.namespace.becomes(Namespace), @project], url: transfer_namespace_project_path(@project.namespace, @project), method: :put, remote: true, html: { class: 'transfer-project form-horizontal' }) do |f|
              .form-group
                = label_tag :new_namespace_id, nil, class: 'control-label' do
                  %span ネームスペース
                .col-sm-9
                  .form-group
                    = select_tag :new_namespace_id, namespaces_options(@project.namespace_id), { prompt: 'プロジェクトのネームスペースを選択', class: 'select2' }
                  %ul
                    %li プロジェクトのネームスペースの変更は意図しない副作用を招く可能性があります。ご注意ください。
                    %li プロジェクトはあなたが管理するネームスペースにのみ移譲することができます。
                    %li ローカルリポジトリが新しい場所を指すように修正する必要があります。
              .form-actions
                = f.submit '移譲する', class: "btn btn-remove js-confirm-danger", data: { "confirm-danger-message" => transfer_project_message(@project) }
      - else
        .nothing-here-block プロジェクトの所有者だけがプロジェクトを移譲することができます。

      - if can?(current_user, :remove_project, @project)
        .panel.panel-default.panel.panel-danger
          .panel-heading プロジェクトを削除
          .panel-body
            = form_tag(namespace_project_path(@project.namespace, @project), method: :delete, html: { class: 'form-horizontal'}) do
              %p
                プロジェクトを削除すると、リポジトリや課題、マージリクエストなどの関連するリソースすべてが削除されます。
                %br
                %strong 削除されたプロジェクトは元に戻すことができません！

              = link_to 'プロジェクトを削除', '#', class: "btn btn-remove js-confirm-danger", data: { "confirm-danger-message" => remove_project_message(@project) }
      - else
        .nothing-here-block プロジェクトの所有者だけがプロジェクトを削除することができます。

.save-project-loader.hide
  .center
    %h2
      %i.fa.fa-spinner.fa-spin
      プロジェクトを保存しています
    %p 準備ができ次第、自動的に更新されますのでお待ちください


= render 'shared/confirm_modal', phrase: @project.path
