.project-edit-container
  .project-edit-errors
  .project-edit-content
    %div
      %h3.page-title
        プロジェクト設定:
      %p.light "プロジェクトの移譲"のようないくつかの機能は危険エリア内で非表示になっています。
      %hr
      .panel-body
        = form_for @project, remote: true, html: { class: "edit_project form-horizontal" } do |f|
          %fieldset
            .form-group.project_name_holder
              = f.label :name, class: 'control-label' do
                プロジェクト名
              .col-sm-10
                = f.text_field :name, placeholder: "Example Project", class: "form-control"


            .form-group
              = f.label :description, class: 'control-label' do
                説明
                %span.light (任意)
              .col-sm-10
                = f.text_area :description, placeholder: "Awesome project", class: "form-control", rows: 3, maxlength: 250

            - if @project.repository.exists? && @project.repository.branch_names.any?
              .form-group
                = f.label :default_branch, "デフォルトブランチ", class: 'control-label'
                .col-sm-10= f.select(:default_branch, @repository.branch_names, {}, {class: 'select2 select-wide'})


          = render "visibility_level", f: f, visibility_level: @project.visibility_level, can_change_visibility_level: can?(current_user, :change_visibility_level, @project)

          %fieldset.features
            %legend
              ラベル:
            .form-group
              = f.label :label_list, "ラベル", class: 'control-label'
              .col-sm-10
                = f.text_field :label_list, maxlength: 2000, class: "form-control"
                %p.hint ラベルはカンマで区切って複数記述できます

          %fieldset.features
            %legend
              機能:
            .form-group
              = f.label :issues_enabled, "課題管理", class: 'control-label'
              .col-sm-10
                .checkbox
                  = f.check_box :issues_enabled
                  %span.descr このプロジェクト用の軽量な課題トラッキングシステム

            - if Project.issues_tracker.values.count > 1
              .form-group
                = f.label :issues_tracker, "課題管理", class: 'control-label'
                .col-sm-10= f.select(:issues_tracker, project_issues_trackers(@project.issues_tracker), {}, { disabled: !@project.issues_enabled })

              .form-group
                = f.label :issues_tracker_id, "課題トラッカー内のプロジェクト名またはID", class: 'control-label'
                .col-sm-10= f.text_field :issues_tracker_id, disabled: !@project.can_have_issues_tracker_id?, class: 'form-control'

            .form-group
              = f.label :merge_requests_enabled, "マージリクエスト", class: 'control-label'
              .col-sm-10
                .checkbox
                  = f.check_box :merge_requests_enabled
                  %span.descr Upstreamにマージしてもらうように変更を送信

            .form-group
              = f.label :wiki_enabled, "Wiki", class: 'control-label'
              .col-sm-10
                .checkbox
                  = f.check_box :wiki_enabled
                  %span.descr プロジェクトのドキュメントページ

            .form-group
              = f.label :snippets_enabled, "スニペット", class: 'control-label'
              .col-sm-10
                .checkbox
                  = f.check_box :snippets_enabled
                  %span.descr Gitリポジトリ外でコードをペーストして共有


          .form-actions
            = f.submit '変更を保存', class: "btn btn-save"



    .danger-settings.js-toggle-container
      .centered-light-block
        %h3
          %i.icon-warning-sign
          危険な設定
        %p 以下の設定を変更すると、データが損失する恐れがあります。
        = link_to '#', class: 'btn js-toggle-button' do
          表示する
          %i.icon-chevron-down

      .js-toggle-content.hide
        - if can? current_user, :archive_project, @project
          .panel.panel-default.panel.panel-warning
            .panel-heading
              - if @project.archived?
                プロジェクトのアーカイブを解除
              - else
                プロジェクトをアーカイブ
            .panel-body
              - if @project.archived?
                %p
                  プロジェクトのアーカイブを解除すると、リポジトリはアクティブになります。
                  %br
                  プロジェクトにはコミットできるようになります。
                  %br
                  %strong プロジェクトをアクティブにすると、検索結果やダッシュボードに表示されるようになります。
                = link_to 'アーカイブを解除', unarchive_project_path(@project),
                    data: { confirm: "本当にこのプロジェクトのアーカイブを解除しますか？\nアーカイブが解除されるとプロジェクトはアクティブになり、再びコミット可能になります。" },
                    method: :post, class: "btn btn-remove"
              - else
                %p
                  プロジェクトをアーカイブするとリポジトリは読み取り専用になります。
                  %br
                  ダッシュボードからは非表示になり、検索結果にも表示されません。
                  %br
                  %strong アーカイブされたプロジェクトにはコミットできません！
                = link_to 'アーカイブ', archive_project_path(@project),
                    data: { confirm: "本当にこのプロジェクトをアーカイブしますか？\nアーカイブされたプロジェクトにはコミットすることができません。" },
                    method: :post, class: "btn btn-warning"
        - else
          .nothing-here-block プロジェクトの所有者だけがプロジェクトをアーカイブすることができます。

        .panel.panel-default.panel.panel-warning
          .panel-heading Rename repository
          .errors-holder
          .panel-body
            = form_for(@project, html: { class: 'form-horizontal' }) do |f|
              .form-group
                = f.label :path, class: 'control-label' do
                  %span Path
                .col-sm-9
                  .form-group
                    .input-group
                      = f.text_field :path, class: 'form-control'
                      %span.input-group-addon .git
                  %ul
                    %li Be careful. Renaming a project's repository can have unintended side effects.
                    %li You will need to update your local repositories to point to the new location.
              .form-actions
                = f.submit 'Rename', class: "btn btn-warning"

        - if can?(current_user, :change_namespace, @project)
          .panel.panel-default.panel.panel-danger
            .panel-heading プロジェクトを移譲
            .errors-holder
            .panel-body
              = form_for(@project, url: transfer_project_path(@project), method: :put, remote: true, html: { class: 'transfer-project form-horizontal' }) do |f|
                .form-group
                  = f.label :namespace_id, class: 'control-label' do
                    %span ネームスペース
                  .col-sm-10
                    .form-group
                      = f.select :namespace_id, namespaces_options(@project.namespace_id), { prompt: 'プロジェクトのネームスペースを選択' }, { class: 'select2' }
                    %ul
                      %li プロジェクトのネームスペースの変更は意図しない副作用を招く可能性があります。ご注意ください。
                      %li プロジェクトはあなたが管理するネームスペースにのみ移譲することができます。
                      %li ローカルリポジトリが新しい場所を指すように修正する必要があります。
                .form-actions
                  = f.submit '移譲する', class: "btn btn-remove"
        - else
          .nothing-here-block プロジェクトの所有者だけがプロジェクトを移譲することができます。

        - if can?(current_user, :remove_project, @project)
          .panel.panel-default.panel.panel-danger
            .panel-heading プロジェクトを削除
            .panel-body
              %p
                プロジェクトを削除すると、リポジトリや課題、マージリクエストなどの関連するリソースすべてが削除されます。
                %br
                %strong 削除されたプロジェクトは元に戻すことができません！

              = link_to 'プロジェクトを削除', @project, data: { confirm: remove_project_message(@project) }, method: :delete, class: "btn btn-remove"
        - else
          .nothing-here-block プロジェクトの所有者だけがプロジェクトを削除することができます。

.save-project-loader.hide
  %center
    %h2
      %i.icon-spinner.icon-spin
      プロジェクトを保存しています
    %p 準備ができ次第、自動的に更新されますのでお待ちください
