.project-edit-container
  .project-edit-errors
    = render 'projects/errors'
  .project-edit-content

    = form_for @project, remote: true, html: { class: 'new_project form-horizontal' } do |f|
      .form-group.project-name-holder
        = f.label :name, class: 'control-label' do
          %strong プロジェクト名
        .col-sm-10
          = f.text_field :name, placeholder: "Example Project", class: "form-control", tabindex: 1, autofocus: true

      - if current_user.can_select_namespace?
        .form-group
          = f.label :namespace_id, class: 'control-label' do
            %span ネームスペース
          .col-sm-10
            = f.select :namespace_id, namespaces_options(params[:namespace_id] || :current_user), {}, {class: 'select2', tabindex: 2}

      %hr
      .js-toggle-container
        .form-group
          .col-sm-2
          .col-sm-10
            = link_to "#", class: 'js-toggle-button' do
              %i.icon-edit
              %span リポジトリ名をカスタマイズしますか？
        .js-toggle-content.hide
          .form-group
            = f.label :path, class: 'control-label' do
              %span リポジトリ名
            .col-sm-10
              .input-group
                = f.text_field :path, class: 'form-control'
                %span.input-group-addon .git

      .js-toggle-container
        .form-group
          .col-sm-2
          .col-sm-10
            = link_to "#", class: 'js-toggle-button' do
              %i.icon-upload-alt
              %span 既存のリポジトリをインポートしますか？
        .js-toggle-content.hide
          .form-group.import-url-data
            = f.label :import_url, class: 'control-label' do
              %span 既存のリポジトリをインポート
            .col-sm-10
              = f.text_field :import_url, class: 'form-control', placeholder: 'https://github.com/randx/six.git'
              .bs-callout.bs-callout-info
                このURLは公開されていなければなりません。次のようにユーザ名とパスワードをつけることもできます: https://username:password@gitlab.com/company/project.git.
                %br
                インポートは2分でタイムアウトします。大きなリポジトリの場合はクローンとプッシュを組み合わせてください。
      %hr

      .form-group
        = f.label :description, class: 'control-label' do
          説明
          %span.light (任意)
        .col-sm-10
          = f.text_area :description, placeholder: "すばらしいプロジェクト", class: "form-control", rows: 3, maxlength: 250, tabindex: 3
      = render "visibility_level", f: f, visibility_level: gitlab_config.default_projects_features.visibility_level, can_change_visibility_level: true

      .form-actions
        = f.submit 'プロジェクトを作成', class: "btn btn-create project-submit", tabindex: 4

        - if current_user.can_create_group?
          .pull-right
            .light
              複数のプロジェクトを管理するグループが必要ですか？
              = link_to new_group_path, class: "btn btn-tiny" do
                グループを作成

.save-project-loader.hide
  .center
    %h2
      %i.icon-spinner.icon-spin
      プロジェクトとリポジトリを作成しています
    %p 準備ができ次第、自動的に更新されますのでお待ちください
