- page_title "タグ"
= render "projects/commits/header_title"
= render "projects/commits/head"

.gray-content-block
  - if can? current_user, :push_code, @project
    .pull-right
      = link_to new_namespace_project_tag_path(@project.namespace, @project), class: 'btn btn-create new-tag-btn' do
        %i.fa.fa-add-sign
        タグを作成
  .oneline
    タグを使うと、コミット履歴上で重要なポイントをマークすることができます。

.tags
  - unless @tags.empty?
    %ul.content-list
      - @tags.each do |tag|
        = render 'tag', tag: @repository.find_tag(tag)

    = paginate @tags, theme: 'gitlab'

  - else
    .nothing-here-block
      このリポジトリにはまだタグがありません。
      %br
      %small
        git tag コマンドを使って新しいタグを作成できます:
        %br
        %span.monospace git tag -a v1.4 -m 'version 1.4'
