%h3.page-title
  通知設定
%p.light
  GitLabはプロフィールで指定されたメールアドレスを通知に利用します。
%hr
= form_tag profile_notifications_path, method: :put, remote: true, class: 'update-notifications form-horizontal global-notifications-form' do
  = hidden_field_tag :notification_type, 'global'

  = label_tag :notification_level, '通知レベル', class: 'control-label'
  .col-sm-10
    .radio
      = label_tag nil, class: '' do
        = radio_button_tag :notification_level, Notification::N_DISABLED, @notification.disabled?, class: 'trigger-submit'
        .level-title
          無効
        %p メールでの通知は何も受け取りません

    .radio
      = label_tag nil, class: '' do
        = radio_button_tag :notification_level, Notification::N_PARTICIPATING, @notification.participating?, class: 'trigger-submit'
        .level-title
          参加
        %p あなたに関係のあるリソースに関する通知だけを受け取ります (例: あなたのコミットや担当中の課題)

    .radio
      = label_tag nil, class: '' do
        = radio_button_tag :notification_level, Notification::N_WATCH, @notification.watch?, class: 'trigger-submit'
        .level-title
          ウォッチ
        %p 参加中のプロジェクトからのすべての通知を受け取ります

.clearfix
  %hr
.row.all-notifications
  .col-md-6
    %p
      グループやプロジェクトの単位でも通知レベルを指定することができます。
      %br
      デフォルトではすべてのプロジェクトとすべてのグループに上記の設定が適用されます。
    %h4 グループ:
    %ul.bordered-list
      - @group_members.each do |users_group|
        - notification = Notification.new(users_group)
        = render 'settings', type: 'group', membership: users_group, notification: notification

  .col-md-6
    %p
      通知レベルをグループ内のプロジェクト単位に設定するには、
      %br
      グループだけでなくそのプロジェクトにも参加する必要があります。
    %h4 プロジェクト:
    %ul.bordered-list
      - @project_members.each do |project_member|
        - notification = Notification.new(project_member)
        = render 'settings', type: 'project', membership: project_member, notification: notification
