- page_title "通知"
- header_title page_title, profile_notifications_path

.gray-content-block.top-block
  これらはグローバルな通知設定です。

.prepend-top-default
= form_for @user, url: profile_notifications_path, method: :put, html: { class: 'update-notifications form-horizontal global-notifications-form' } do |f|
  -if @user.errors.any?
    %div.alert.alert-danger
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  = hidden_field_tag :notification_type, 'global'

  .form-group
    = f.label :notification_email, '通知メールアドレス', class: "control-label"
    .col-sm-10
      = f.select :notification_email, @user.all_emails, { include_blank: false }, class: "form-control"

  .form-group
    = f.label :notification_level, '通知レベル', class: 'control-label'
    .col-sm-10
      .radio
        = f.label :notification_level, value: Notification::N_DISABLED do
          = f.radio_button :notification_level, Notification::N_DISABLED
          .level-title
            無効
          %p メールでは通知は何も受け取りません

      .radio
        = f.label :notification_level, value: Notification::N_MENTION do
          = f.radio_button :notification_level, Notification::N_MENTION
          .level-title
            メンション
          %p コメント内で @名前 のようにメンションされたときにのみ通知を受け取ります

      .radio
        = f.label :notification_level, value: Notification::N_PARTICIPATING do
          = f.radio_button :notification_level, Notification::N_PARTICIPATING
          .level-title
            参加
          %p あなたに関係のあるリソースに関する通知だけを受け取ります (例: あなたのコミットや担当中の課題)

      .radio
        = f.label :notification_level, value: Notification::N_WATCH do
          = f.radio_button :notification_level, Notification::N_WATCH
          .level-title
            ウォッチ
          %p すべてのアクティビティの通知を受け取ります

  .form-actions
    = f.submit '変更を保存', class: "btn btn-create"

.clearfix
  %hr
.row.all-notifications
  .col-md-6
    %p
      グループやプロジェクトの単位でも通知レベルを指定することができます。
      %br
      デフォルトではすべてのプロジェクトとすべてのグループに上記の設定が適用されます。
    %h4 グループ:
    %ul.bordered-list
      - @group_members.each do |group_member|
        - notification = Notification.new(group_member)
        = render 'settings', type: 'group', membership: group_member, notification: notification

  .col-md-6
    %p
      所属するグループ内のプロジェクト単位に通知レベルを設定するには、
      %br
      グループだけでなくそのプロジェクトにも参加する必要があります。
    %h4 プロジェクト:
    %ul.bordered-list
      - @project_members.each do |project_member|
        - notification = Notification.new(project_member)
        = render 'settings', type: 'project', membership: project_member, notification: notification
