.mr-state-widget
  = render 'projects/merge_requests/widget/heading'
  .mr-widget-body
    %h4
      - if @merge_request.closed_event
        #{link_to_member(@project, @merge_request.closed_event.author, avatar: true)}に
        #{time_ago_with_tooltip(@merge_request.closed_event.created_at)}に
      クローズされました
    %p 
      = succeed '.' do
        変更は
        %span.label-branch= @merge_request.target_branch
        にマージされませんでした
