%ul.nav.nav-sidebar
  = nav_link do
    = link_to project_path(@project.gl_project), title: 'プロジェクトに戻る', data: {placement: 'right'}, class: 'back-link' do
      = icon('caret-square-o-left fw')
      %span
        プロジェクトに戻る
  %li.separate-item
    = nav_link path: 'events#index' do
      = link_to ci_project_events_path(@project) do
        = icon('book fw')
        %span
          イベント
