%div#modal_merge_info.modal
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{href: "#", "data-dismiss" => "modal"} ×
        %h3 チェックアウト、レビュー、マージをローカルで実行
      .modal-body
        %p
          %strong ステップ1. 
          ソースコードをフェッチし、このマージリクエスト用の新しいブランチを作成してください。
        %pre.dark
          - if @merge_request.for_fork?
            :preserve
              git fetch #{h @merge_request.source_project.http_url_to_repo} #{h @merge_request.source_branch}
              git checkout -b #{h @merge_request.source_project_path}-#{h @merge_request.source_branch} FETCH_HEAD
          - else
            :preserve
              git fetch origin
              git checkout -b #{h @merge_request.source_branch} origin/#{h @merge_request.source_branch}
        %p
          %strong ステップ2.
          ローカルで変更をレビュー

        %p
          %strong ステップ3.
          ブランチをマージし、競合がある場合は修正してください。
        %pre.dark
          - if @merge_request.for_fork?
            :preserve
              git checkout #{h @merge_request.target_branch}
              git merge --no-ff #{h @merge_request.source_project_path}-#{h @merge_request.source_branch}
          - else
            :preserve
              git checkout #{h @merge_request.target_branch}
              git merge --no-ff #{h @merge_request.source_branch}
        %p
          %strong ステップ4.
          マージの結果をGitLabにプッシュしてください。
        %pre.dark
          :preserve
            git push origin #{h @merge_request.target_branch}
        - unless @merge_request.can_be_merged_by?(current_user)
          %p
            Note that pushing to GitLab requires write access to this repository.

:javascript
  $(function(){
    var modal = $('#modal_merge_info').modal({modal: true, show:false});
    $('.how_to_merge_link').bind("click", function(){
      modal.show();
    });
    $('.modal-header .close').bind("click", function(){
      modal.hide();
    })
  })
