- unless @allowed_to_merge
  - if @project.archived?
    %p
      %strong Archived projects cannot be committed to!
  - else
    .automerge_widget.cannot_be_merged.hide
      %strong This can't be merged automatically, even if it could be merged you don't have the permission to do so.
    .automerge_widget.can_be_merged.hide
      %strong This can be merged automatically but you don't have the permission to do so.


- if @show_merge_controls
  .automerge_widget.can_be_merged.hide
    .clearfix
      = form_for [:automerge, @project, @merge_request], remote: true, method: :post do |f|
        %h4
          このリクエストは、承認すれば自動的にマージすることができます。
        %div
          手動でマージしたい場合は
          %strong
            = link_to "こちらをクリック", "#modal_merge_info", class: "how_to_merge_link vlink", title: "How To Merge", "data-toggle" => "modal"
          して方法を確認してください。

        .js-toggle-container
          %p
            マージコミットのメッセージを修正したい場合は
            %strong
              = link_to "こちらをクリック", "#", class: "modify-merge-commit-link js-toggle-button", title: "Modify merge commit message"
            してください。

          .js-toggle-content.hide
            .form-group
              = label_tag :merge_commit_message, "コミットメッセージ", class: 'control-label'
              .col-sm-10
                = render 'shared/commit_message_container', {textarea: text_area_tag(:merge_commit_message,
                    @merge_request.merge_commit_message, class: "form-control js-gfm-input", rows: 14, required: true)}
                %p.hint
                  先頭の1行は最大52字、それ以降の行は最大72文字であることが推奨されます。

        .accept-group
          .pull-left
            = f.submit "マージリクエストを承認", class: "btn btn-create accept_merge_request"
          - unless @merge_request.disallow_source_branch_removal?
            .remove_branch_holder.pull-left
              = label_tag :should_remove_source_branch, class: "checkbox" do
                = check_box_tag :should_remove_source_branch
                マージ元のブランチを削除


  .automerge_widget.no_satellite.hide
    %p
      %span
        %strong このリポジトリにはサテライトがありません。管理者に確認してこの問題を解決してください。

  .automerge_widget.cannot_be_merged.hide
    %h4
      このリクエストはGitLabではマージできません。
    %p
      このリクエストは手動で
      %strong
        = link_to "コマンドライン", "#modal_merge_info", class: "how_to_merge_link", title: "マージ方法", "data-toggle" => "modal"
      からマージする必要があります。

  .automerge_widget.unchecked
    %p
      %strong
        %i.icon-spinner.icon-spin
        自動マージが可能か確認しています…

  .automerge_widget.already_cannot_be_merged.hide
    %p
      %strong このマージリクエストはマージできません。ページを再読み込みしてください。

  .merge-in-progress.hide
    %p
      %i.icon-spinner.icon-spin
      &nbsp;
      マージを実行中です。お待ちください。ページは自動的に更新されます。&nbsp;
