- unless @allowed_to_merge
  - if @project.archived?
    %p
      %strong アーカイブされたプロジェクトにはコミットすることができません！
  - else
    .automerge_widget.cannot_be_merged.hide
      %strong あなたにはこれをマージする権限がありませんが、権限があってもこれは自動的にマージすることができません。
    .automerge_widget.work_in_progress.hide
      %strong あなたにはこれをマージする権限がありませんが、権限があってもこのリクエストはWork In Progressのため承認できません。
    .automerge_widget.can_be_merged.hide
      %strong これは自動的にマージすることができますが、あなたにはその権限がありません。


- if @show_merge_controls
  .automerge_widget.can_be_merged.hide
    .clearfix
      = form_for [:automerge, @project.namespace.becomes(Namespace), @project, @merge_request], remote: true, method: :post do |f|
        .accept-merge-holder.clearfix.js-toggle-container
          .accept-action
            = f.submit "マージリクエストを承認", class: "btn btn-create accept_merge_request"
          - if can_remove_branch?(@merge_request.source_project, @merge_request.source_branch) && !@merge_request.for_fork?
            .accept-control.checkbox
              = label_tag :should_remove_source_branch, class: "remove_source_checkbox" do
                = check_box_tag :should_remove_source_branch
                マージ元のブランチを削除
          .accept-control
            = link_to "#", class: "modify-merge-commit-link js-toggle-button", title: "マージコミットのメッセージを修正" do
              %i.fa.fa-edit
              コミットメッセージを修正
          .js-toggle-content.hide.prepend-top-20
            = render 'shared/commit_message_container', params: params,
                text: @merge_request.merge_commit_message,
                rows: 14, hint: true

        %br
        .light
          マージコミットを手動で修正したい場合は
          %strong
            = link_to "コマンドラインでマージする方法", "#modal_merge_info", class: "how_to_merge_link vlink", title: "マージする方法", "data-toggle" => "modal"
          を参照してください。


  .automerge_widget.no_satellite.hide
    %p
      %span
        %strong このリポジトリにはサテライトがありません。管理者に確認してこの問題を解決してください。

  .automerge_widget.cannot_be_merged.hide
    %h4
      このリクエストはGitLabではマージできません。
      このリクエストは手動で
      %strong
        = link_to "#modal_merge_info", class: "underlined-link how_to_merge_link", title: "マージ方法", "data-toggle" => "modal" do
          コマンドライン
      からマージする必要があります。

    %p
      %button.btn.disabled{:type => 'button'}
        %i.fa.fa-warning
        マージリクエストを承認
      &nbsp;
      これは通常、gitが自動的にブランチの競合を解決できない場合に発生します。

  .automerge_widget.work_in_progress.hide
    %h4
      このリクエストは<strong>Work In Progress</strong>のため承認することができません。

    %p
      %button.btn.disabled{:type => 'button'}
        %i.fa.fa-warning
        マージリクエストを承認
      &nbsp;

      マージリクエストが準備できたら、"WIP"のプレフィクスをタイトルから削除すると承認されることができるようになります。

  .automerge_widget.unchecked
    %p
      %strong
        %i.fa.fa-spinner.fa-spin
        自動マージが可能か確認しています…

  .automerge_widget.already_cannot_be_merged.hide
    %p
      %strong このマージリクエストはマージできません。ページを再読み込みしてください。

  .merge-in-progress.hide
    %p
      %i.fa.fa-spinner.fa-spin
      &nbsp;
      マージを実行中です。お待ちください。ページは自動的に更新されます。&nbsp;
