%h4.page-title
  .issue-box{ class: issue_box_class(@merge_request) }
    - if @merge_request.merged?
      承認済み
    - elsif @merge_request.closed?
      却下済み
    - else
      オープン
  = "マージリクエスト ##{@merge_request.iid}"
  %small.creator
    &middot;
    #{link_to_member(@project, @merge_request.author)}が#{time_ago_with_tooltip(@merge_request.created_at)}に作成

  .issue-btn-group.pull-right
    - if can?(current_user, :modify_merge_request, @merge_request)
      - if @merge_request.open?
        = link_to 'クローズ', merge_request_path(@merge_request, merge_request: { state_event: :close }), method: :put, class: "btn btn-grouped btn-close", title: "マージリクエストをクローズ"
        = link_to edit_namespace_project_merge_request_path(@project.namespace, @project, @merge_request), class: "btn btn-grouped issuable-edit", id: "edit_merge_request" do
          %i.fa.fa-pencil-square-o
          編集
      - if @merge_request.closed?
        = link_to '再オープン', merge_request_path(@merge_request, merge_request: {state_event: :reopen }), method: :put, class: "btn btn-grouped btn-reopen reopen-mr-link", title: "マージリクエストをクローズ"
