.mr-state-widget
  - if @merge_request.source_project.ci_service && @commits.any?
    .mr-widget-heading
      = render "projects/merge_requests/show/mr_ci"
  .mr-widget-body
    - if @merge_request.open?
      - if @merge_request.source_branch_exists? && @merge_request.target_branch_exists?
        = render "projects/merge_requests/show/mr_accept"
      - else
        = render "projects/merge_requests/show/no_accept"

    - if @merge_request.closed?
      %h4
        クローズ済み
        - if @merge_request.closed_event
          by #{link_to_member(@project, @merge_request.closed_event.author, avatar: false)}
          #{time_ago_with_tooltip(@merge_request.closed_event.created_at)}
      %p 変更はマージされていません

    - if @merge_request.merged?
      %h4
        マージ済み
        - if @merge_request.merge_event
          by #{link_to_member(@project, @merge_request.merge_event.author, avatar: false)}
          #{time_ago_with_tooltip(@merge_request.merge_event.created_at)}
      = render "projects/merge_requests/show/remove_source_branch"

    - if @merge_request.locked?
      %h4
        マージしています...
      %p
        GitLabはマージしています。終了するまでマージリクエストはロックされ、クローズできません

    - unless @commits.any?
      %h4 マージするものはありません
      %p
        %span.label-branch #{@merge_request.source_branch}
        から
        %span.label-branch #{@merge_request.target_branch}
        にマージするものはありません。
        %br
        別のブランチを選択するか、新しいコードをプッシュしてください。

  - if @closes_issues.present? && @merge_request.open?
    .mr-widget-footer
      %span
        %i.fa.fa-check
        このマージリクエストを承認すると、課題がクローズされます
        = succeed '' do
          != gfm(issues_sentence(@closes_issues))
