%h3.page-title
  ブロードキャストメッセージ
%p.light
  ブロードキャストメッセージはすべてのユーザに表示されます。計画メンテナンス, 最近のアップグレードなどの通知に利用します。
.broadcast-message-preview
  %i.icon-bullhorn
  %span メッセージがここに表示されます

= form_for [:admin, @broadcast_message], html: { class: 'broadcast-message-form form-horizontal'} do |f|
  -if @broadcast_message.errors.any?
    .alert.alert-danger
      - @broadcast_message.errors.full_messages.each do |msg|
        %p= msg
  .form-group
    = f.label :message, 'メッセージ', class: 'control-label'
    .col-sm-10
      = f.text_area :message, class: "form-control", rows: 2, required: true
      %div
        = link_to '#', class: 'js-toggle-colors-link' do
          色をカスタマイズ
  .form-group.js-toggle-colors-container.hide
    = f.label :color, "背景色", class: 'control-label'
    .col-sm-10
      = f.text_field :color, placeholder: "#AA33EE", class: "form-control"
      .light #記号で始まる6文字の16進数で表記します。
  .form-group.js-toggle-colors-container.hide
    = f.label :font, "文字色", class: 'control-label'
    .col-sm-10
      = f.text_field :font, placeholder: "#224466", class: "form-control"
      .light #記号で始まる6文字の16進数で表記します。
  .form-group
    = f.label :starts_at, '開始日', class: 'control-label'
    .col-sm-10.datetime-controls
      = f.datetime_select :starts_at, :use_month_numbers => true
  .form-group
    = f.label :ends_at, '終了日', class: 'control-label'
    .col-sm-10.datetime-controls
      = f.datetime_select :ends_at, :use_month_numbers => true
  .form-actions
    = f.submit "ブロードキャストメッセージを追加", class: "btn btn-create"

-if @broadcast_messages.any?
  %ul.bordered-list.broadcast-messages
    - @broadcast_messages.each do |broadcast_message|
      %li
        .pull-right
          - if broadcast_message.starts_at
            %strong
              #{broadcast_message.starts_at.to_s(:short)}
            \...
          - if broadcast_message.ends_at
            %strong
              #{broadcast_message.ends_at.to_s(:short)}
          &nbsp;
          = link_to [:admin, broadcast_message], method: :delete, remote: true, class: 'remove-row btn btn-tiny' do
            %i.icon-remove.cred

        .message= broadcast_message.message


  = paginate @broadcast_messages
