%h3.page-title= @milestone.new_record? ? "新しいマイルストーン" : "マイルストーン ##{@milestone.iid} を編集"
.back-link
  = link_to project_milestones_path(@project) do
    &larr; マイルストーン一覧

%hr

= form_for [@project, @milestone], html: {class: "new_milestone form-horizontal"}  do |f|
  -if @milestone.errors.any?
    .alert.alert-danger
      %ul
        - @milestone.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-6
      .form-group
        = f.label :title, "タイトル", class: "control-label"
        .col-sm-10
          = f.text_field :title, maxlength: 255, class: "form-control"
          %p.hint 必須
      .form-group
        = f.label :description, "説明", class: "control-label"
        .col-sm-10
          = f.text_area :description, maxlength: 2000, class: "form-control markdown-area", rows: 10
          .hint
            .pull-left マイルストーンは #{link_to "GitLab Flavored Markdown", help_page_path("markdown", "markdown"), target: '_blank'} 記法でパースされます。
            .pull-left ドラッグ＆ドロップまたは#{link_to "選択して", '#', class: 'markdown-selector' }画像(JPG, PNG, GIF)を添付します。
          .clearfix
          .error-alert
    .col-md-6
      .form-group
        = f.label :due_date, "期限", class: "control-label"
        .col-sm-10= f.hidden_field :due_date
        .col-sm-10
          .datepicker

  .form-actions
    - if @milestone.new_record?
      = f.submit 'マイルストーンを作成', class: "btn-create btn"
      = link_to "キャンセル", project_milestones_path(@project), class: "btn btn-cancel"
    -else
      = f.submit '変更を保存', class: "btn-save btn"
      = link_to "キャンセル", project_milestone_path(@project, @milestone), class: "btn btn-cancel"


:javascript
  disableButtonIfEmptyField("#milestone_title", ".btn-save");
  $( ".datepicker" ).datepicker({
    dateFormat: "yy-mm-dd",
    onSelect: function(dateText, inst) { $("#milestone_due_date").val(dateText) }
  }).datepicker("setDate", $.datepicker.parseDate('yy-mm-dd', $('#milestone_due_date').val()));

  window.project_image_path_upload = "#{upload_image_project_path @project}";
