%h3.page-title
  新しいプロジェクトメンバー

= form_for @user_project_relation, as: :project_member, url: project_team_members_path(@project), html: { class: "form-horizontal users-project-form" } do |f|
  -if @user_project_relation.errors.any?
    .alert.alert-danger
      %ul
        - @user_project_relation.errors.full_messages.each do |msg|
          %li= msg

  %p 1. プロジェクトに追加したいユーザを選択してください
  .form-group
    = f.label :user_ids, "ユーザ", class: 'control-label'
    .col-sm-10
      = users_select_tag(:user_ids, multiple: true)

  %p 2. ユーザのアクセスレベルを設定してください
  .form-group
    = f.label :access_level, "プロジェクトアクセスレベル", class: 'control-label'
    .col-sm-10
      = select_tag :access_level, options_for_select(Gitlab::Access.options, @user_project_relation.access_level), class: "project-access-select select2"
      .help-block
        アクセス権についての詳細は、
        %strong= link_to "こちら", help_page_path("permissions", "permissions"), class: "vlink"
        から確認できます。


  .form-actions
    = f.submit 'ユーザを追加', class: "btn btn-create"
    = link_to "キャンセル", project_team_index_path(@project), class: "btn btn-cancel"
