- page_title "ラベル"
= render "header_title"

.gray-content-block.top-block
  - if can? current_user, :admin_label, @project
    = link_to new_namespace_project_label_path(@project.namespace, @project), class: "pull-right btn btn-new" do
      新しいラベル
  .oneline
    ラベルは課題とマージリクエストに適用することができます。

.labels
  - if @labels.present?
    %ul.content-list.manage-labels-list
      = render @labels
    = paginate @labels, theme: 'gitlab'
  - else
    .light-well
      - if can? current_user, :admin_label, @project
        .nothing-here-block 最初のラベルを追加 または 標準のラベルセットを#{link_to '生成', generate_namespace_project_labels_path(@project.namespace, @project), method: :post}
      - else
        .nothing-here-block ラベルがありません
