- page_title "バックグラウンドジョブ"
%h3.page-title バックグラウンドジョブ
%p.light GitLabは #{link_to "sidekiq", "http://sidekiq.org/"} ライブラリを使用して非同期ジョブを処理しています。

%hr

.panel.panel-default
  .panel-heading 実行中の Sidekiq プロセス
  .panel-body
    - if @sidekiq_processes.empty?
      %h4.cred
        %i.fa.fa-exclamation-triangle
        実行中の Sidekiq プロセスはありません。GitLabを再起動してください。
    - else
      .table-holder
        %table.table
          %thead
            %th USER
            %th PID
            %th CPU
            %th MEM
            %th STATE
            %th START
            %th COMMAND
          %tbody
            - @sidekiq_processes.each do |process|
              - next unless process.match(/(sidekiq \d+\.\d+\.\d+.+$)/)
              - data = process.strip.split(' ')
              %tr
                %td= gitlab_config.user
                - 5.times do
                  %td= data.shift
                %td= data.join(' ')

      .clearfix
        %p
          %i.fa.fa-exclamation-circle
          もし '[25 of 25 busy]' と表示されていたら、'sudo service gitlab reload' でGitLabを再起動してください。
        %p
          %i.fa.fa-exclamation-circle
          もし2つ以上の Sidekiq プロセスが表示されている場合、GitLabを停止し、残っている Sidekiq プロセスを kill し(sudo pkill -u #{gitlab_config.user} -f sidekiq)、GitLabを再起動してください。



.panel.panel-default
  %iframe{src: sidekiq_path, width: '100%', height: 970, style: "border: none"}
