%p
  プロジェクト #{@old_path_with_namespace} が別の場所へ移動されました。
%p
  プロジェクトは以下の場所にあります。
  = link_to namespace_project_url(@project.namespace, @project) do
    = @project.name_with_namespace
%p
  リモートURL(SSH)を更新するには、ローカルリポジトリで以下を実行してください。
%p{ style: "background: #f5f5f5; padding:10px; border:1px solid #ddd" }
  git remote set-url origin #{@project.ssh_url_to_repo}
%p
  HTTP(S)のURLの場合は以下を実行してください。
%p{ style: "background: #f5f5f5; padding:10px; border:1px solid #ddd" }
  git remote set-url origin #{@project.http_url_to_repo}
%br
