.event-title
  %span.author_name= link_to_author event
  が
  - if event.project
    = link_to_project event.project
  - else
    = event.project_name
  - if event.joined?
    プロジェクトに参加しました
  - else
    で
    - if event.milestone?
      マイルストーン
    - elsif event.note?
      ノート
    - elsif event.issue?
      課題
    - elsif event.merge_request?
      マージリクエスト
    - if event.target
      %strong= link_to "##{event.target_iid}", [event.project, event.target]
    - else
      %strong= gfm event.target_title
    を
    %span.event_label{class: event.action_name}
      - if event.closed?
        クローズしました
      - elsif event.merged?
        承認しました
      - elsif event.joined?
        参加しました
      - elsif event.left?
        離脱しました
      - else
        オープンしました
- if event.target.respond_to?(:title)
  .event-body
    .event-note
      = event.target.title
