%h3.page-title
  グループ (#{@groups.total_count})
  = link_to '新しいグループ', new_admin_group_path, class: "btn btn-new pull-right"

%p.light
  グループを使うとプロジェクトを組織化することができます。
  関連するプロジェクトをグループ化するのに使用してください。

%hr
= form_tag admin_groups_path, method: :get, class: 'form-inline' do
  .form-group
    = text_field_tag :name, params[:name], class: "form-control input-mn-300"
  = submit_tag "検索", class: "btn submit btn-primary"

%hr

%ul.bordered-list
  - @groups.each do |group|
    %li
      .clearfix
        .pull-right.prepend-top-10
          = link_to '編集', edit_admin_group_path(group), id: "edit_#{dom_id(group)}", class: "btn btn-small"
          = link_to '削除', [:admin, group], data: {confirm: "#{group.name}が削除されます。本当に削除しますか？"}, method: :delete, class: "btn btn-small btn-remove"

        %h4
          = link_to [:admin, group] do
            %i.icon-folder-close
            = group.name

          &rarr;
          %span.monospace
            %strong #{group.path}/
      .clearfix
        %p
          = truncate group.description, length: 150
      .clearfix
        %p.light
          #{group.members.size}メンバー, #{group.projects.count}プロジェクト


= paginate @groups, theme: "gitlab"
