%h3.page-title
  グループ: #{@group.name}

  = link_to edit_admin_group_path(@group), class: "btn btn-small pull-right" do
    %i.icon-edit
    編集
%hr
.row
  .col-md-6
    .ui-box
      .title
        グループ情報:
      %ul.well-list
        %li
          %span.light グループ名:
          %strong= @group.name
        %li
          %span.light パス:
          %strong
            = @group.path

        %li
          %span.light 説明:
          %strong
            = @group.description

        %li
          %span.light 作成日:
          %strong
            = @group.created_at.stamp("1999/03/01")

    .ui-box
      .title
        プロジェクト
        %small
          (#{@group.projects.count})
      %ul.well-list
        - @group.projects.sort_by(&:name).each do |project|
          %li
            %strong
              = link_to project.name_with_namespace, [:admin, project]
              %span.label.label-gray
                = repository_size(project)
            %span.pull-right.light
              %span.monospace= project.path_with_namespace + ".git"

  .col-md-6
    .ui-box
      .title
        グループにユーザを追加:
      .body.form-holder
        %p.light
          プロジェクトのアクセス権についての詳細は、
          %strong= link_to "こちら", help_permissions_path, class: "vlink"
          から確認できます。

        = form_tag project_teams_update_admin_group_path(@group), id: "new_team_member", class: "bulk_import", method: :put  do
          %div
            = users_select_tag(:user_ids, multiple: true)
          %div.prepend-top-10
            = select_tag :group_access, options_for_select(UsersGroup.group_access_roles), class: "project-access-select select2"
          %hr
          = submit_tag 'グループにユーザを追加', class: "btn btn-create"
    .ui-box
      .title
        %strong #{@group.name}
        グループのメンバー
        %small
          (#{@group.users_groups.count})
      %ul.well-list.group-users-list
        - @group.users_groups.order('group_access DESC').each do |member|
          - user = member.user
          %li{class: dom_class(user)}
            .list-item-name
              %strong
                = link_to user.name, admin_user_path(user)
            %span.pull-right.light
              = member.human_access
              = link_to group_users_group_path(@group, member), data: { confirm: remove_user_from_group_message(@group, user) }, method: :delete, remote: true, class: "btn-tiny btn btn-remove", title: 'グループからユーザを削除' do
                %i.icon-minus.icon-white
