%h3.page-title
  グループ: #{@group.name}

  = link_to edit_admin_group_path(@group), class: "btn pull-right" do
    %i.icon-edit
    編集
%hr
.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        グループ情報:
      %ul.well-list
        %li
          = image_tag group_icon(@group.path), class: "avatar s60"
        %li
          %span.light グループ名:
          %strong= @group.name
        %li
          %span.light パス:
          %strong
            = @group.path

        %li
          %span.light 説明:
          %strong
            = @group.description

        %li
          %span.light 作成日:
          %strong
            = @group.created_at.stamp("1999/03/01")

    .panel.panel-default
      .panel-heading
        %h3.panel-title
          プロジェクト
          %span.badge
            #{@group.projects.count}
      %ul.well-list
        - @projects.each do |project|
          %li
            %strong
              = link_to project.name_with_namespace, [:admin, project]
              %span.label.label-gray
                = repository_size(project)
            %span.pull-right.light
              %span.monospace= project.path_with_namespace + ".git"
      .panel-footer
        = paginate @projects, param_name: 'projects_page', theme: 'gitlab'

  .col-md-6
    .panel.panel-default
      .panel-heading
        グループにユーザを追加:
      .panel-body.form-holder
        %p.light
          プロジェクトのアクセス権についての詳細は、
          %strong= link_to "こちら", help_page_path("permissions", "permissions"), class: "vlink"

        = form_tag project_teams_update_admin_group_path(@group), id: "new_team_member", class: "bulk_import", method: :put  do
          %div
            = users_select_tag(:user_ids, multiple: true)
          %div.prepend-top-10
            = select_tag :group_access, options_for_select(UsersGroup.group_access_roles), class: "project-access-select select2"
          %hr
          = submit_tag 'グループにユーザを追加', class: "btn btn-create"
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          メンバー
          %span.badge
            #{@group.users_groups.count}
      %ul.well-list.group-users-list
        - @members.each do |member|
          - user = member.user
          %li{class: dom_class(user)}
            .list-item-name
              %strong
                = link_to user.name, admin_user_path(user)
            %span.pull-right.light
              = member.human_access
              = link_to group_users_group_path(@group, member), data: { confirm: remove_user_from_group_message(@group, user) }, method: :delete, remote: true, class: "btn-tiny btn btn-remove", title: 'グループからユーザを削除' do
                %i.icon-minus.icon-white
      .panel-footer
        = paginate @members, param_name: 'members_page', theme: 'gitlab'
