.user_new
  = form_for [:admin, @user], html: { class: 'form-horizontal fieldset-form' } do |f|
    -if @user.errors.any?
      #error_explanation
        .alert.alert-danger
          - @user.errors.full_messages.each do |msg|
            %p= msg

    %fieldset
      %legend アカウント
      .form-group
        = f.label :name, '名前', class: 'control-label'
        .col-sm-10
          = f.text_field :name, required: true, autocomplete: "off", class: 'form-control'
          %span.help-inline * 必須
      .form-group
        = f.label :username, 'ユーザ名', class: 'control-label'
        .col-sm-10
          = f.text_field :username, required: true, autocomplete: "off", class: 'form-control'
          %span.help-inline * 必須
      .form-group
        = f.label :email, 'メールアドレス', class: 'control-label'
        .col-sm-10
          = f.text_field :email, required: true, autocomplete: "off", class: 'form-control'
          %span.help-inline * 必須

    - if @user.new_record?
      %fieldset
        %legend パスワード
        .form-group
          = f.label :password, 'パスワード', class: 'control-label'
          .col-sm-10
            %strong
              一時的なパスワードが生成され、ユーザに送信されます。
              %br
              ユーザは初回のサインイン時にパスワードを強制的に変更させられます。
    - else
      %fieldset
        %legend パスワード
        .form-group
          = f.label :password, 'パスワード', class: 'control-label'
          .col-sm-10= f.password_field :password, disabled: f.object.force_random_password, class: 'form-control'
        .form-group
          = f.label :password_confirmation, 'パスワード(確認)', class: 'control-label'
          .col-sm-10= f.password_field :password_confirmation, disabled: f.object.force_random_password, class: 'form-control'

    %fieldset
      %legend アクセス
      .form-group
        = f.label :projects_limit, 'プロジェクト数上限', class: 'control-label'
        .col-sm-10= f.number_field :projects_limit, class: 'form-control'

      .form-group
        = f.label :can_create_group, 'グループ作成可能', class: 'control-label'
        .col-sm-10= f.check_box :can_create_group

      .form-group
        = f.label :admin, '管理者', class: 'control-label'
        - if current_user == @user
          .col-sm-10= f.check_box :admin, disabled: true
          .col-sm-10 あなた自身の管理者権限を削除することはできません。
        - else
          .col-sm-10= f.check_box :admin
    %fieldset
      %legend プロフィール
      .form-group
        = f.label :avatar, class: 'control-label'
        .col-sm-10
          = f.file_field :avatar

      .form-group
        = f.label :skype, class: 'control-label'
        .col-sm-10= f.text_field :skype, class: 'form-control'
      .form-group
        = f.label :linkedin, class: 'control-label'
        .col-sm-10= f.text_field :linkedin, class: 'form-control'
      .form-group
        = f.label :twitter, class: 'control-label'
        .col-sm-10= f.text_field :twitter, class: 'form-control'
      .form-group
        = f.label :website_url, 'Webサイト', class: 'control-label'
        .col-sm-10= f.text_field :website_url, class: 'form-control'

    .form-actions
      - if @user.new_record?
        = f.submit 'ユーザを作成', class: "btn btn-create"
        = link_to 'キャンセル', admin_users_path, class: "btn btn-cancel"
      - else
        = f.submit '変更を保存', class: "btn btn-save"
        = link_to 'キャンセル', admin_user_path(@user), class: "btn btn-cancel"
