- page_title @user.name, "Users"
= render 'admin/users/head'

.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        = @user.name
      %ul.well-list
        %li
          = image_tag avatar_icon(@user, 60), class: "avatar s60"
        %li
          %span.light プロフィールページ:
          %strong
            = link_to user_path(@user) do
              = @user.username
    = render 'admin/users/profile', user: @user

    .panel.panel-default
      .panel-heading
        アカウント:
      %ul.well-list
        %li
          %span.light 名前:
          %strong= @user.name
        %li
          %span.light ユーザ名:
          %strong
            = @user.username
        %li
          %span.light メールアドレス:
          %strong
            = mail_to @user.email
        - @user.emails.each do |email|
          %li
            %span.light セカンダリメールアドレス:
            %strong= email.email
            = link_to remove_email_admin_user_path(@user, email), data: { confirm: "本当に#{email.email}を削除してよろしいですか？" }, method: :delete, class: "btn-xs btn btn-remove pull-right", title: 'Remove secondary email', id: "remove_email_#{email.id}" do
              %i.fa.fa-times

        %li.two-factor-status
          %span.light 二段階認証:
          %strong{class: @user.two_factor_enabled? ? 'cgreen' : 'cred'}
            - if @user.two_factor_enabled?
              有効
              = link_to '無効にする', disable_two_factor_admin_user_path(@user), data: {confirm: '本当に無効にしてよろしいですか？'}, method: :patch, class: 'btn btn-xs btn-remove pull-right', title: '二段階認証を無効にする'
            - else
              無効

        %li
          %span.light グループの作成:
          %strong
            = @user.can_create_group ? "可" : "不可"
        %li
          %span.light 個人のプロジェクト数の上限:
          %strong
            = @user.projects_limit
        %li
          %span.light 登録日:
          %strong
            = @user.created_at.stamp("2031/11/12")
        - if @user.confirmed_at
          %li
            %span.light 登録確認日:
            %strong
              = @user.confirmed_at.stamp("2031/11/12")
        - else
          %li
            %span.light 登録確認日:
            %strong.cred
              未確認

        %li
          %span.light 現在のサインイン:
          %strong
            - if @user.current_sign_in_at
              = @user.current_sign_in_at.stamp("2031/11/12")
            - else
              サインインなし

        %li
          %span.light 最終サインイン:
          %strong
            - if @user.last_sign_in_at
              = @user.last_sign_in_at.stamp("2031/11/12")
            - else
              サインインなし

        %li
          %span.light サインイン回数:
          %strong
            = @user.sign_in_count

        - if @user.ldap_user?
          %li
            %span.light LDAP uid:
            %strong
              = @user.ldap_identity.extern_uid

        - if @user.created_by
          %li
            %span.light 登録者:
            %strong
              = link_to @user.created_by.name, [:admin, @user.created_by]

  .col-md-6
    - unless @user == current_user
      - unless @user.confirmed?
        .panel.panel-info
          .panel-heading
            Confirm user
          .panel-body
            - if @user.unconfirmed_email.present?
              - email = " (#{@user.unconfirmed_email})"
            %p This user has an unconfirmed email address#{email}. You may force a confirmation.
            %br
            = link_to 'Confirm user', confirm_admin_user_path(@user), method: :put, class: "btn btn-info", data: { confirm: 'Are you sure?' }
      - if @user.blocked?
        .panel.panel-info
          .panel-heading
            このユーザはブロックされています
          .panel-body
            %p ユーザをブロックすると以下の影響があります。
            %ul
              %li ユーザはログインできません。
              %li ユーザはGitリポジトリにアクセスできません。
              %li パーソナルプロジェクトが残されます。
              %li ユーザが所有するグループが残されます。
            %br
            = link_to 'ブロック解除', unblock_admin_user_path(@user), method: :put, class: "btn btn-info", data: { confirm: '本当に解除しますか？' }
      - else
        .panel.panel-warning
          .panel-heading
            このユーザをブロック
          .panel-body
            %p ユーザをブロックすると以下の影響があります。
            %ul
              %li ユーザはログインできません。
              %li ユーザはGitリポジトリにアクセスできません。
              %li ユーザは参加中のプロジェクトとグループから削除されます。
              %li パーソナルプロジェクトが残されます。
              %li ユーザが所有するグループが残されます。
            %br
            = link_to 'このユーザをブロック', block_admin_user_path(@user), data: { confirm: 'このユーザはブロックされます！本当にブロックしますか？' }, method: :put, class: "btn btn-warning"
      - if @user.access_locked?
        .panel.panel-info
          .panel-heading
            This account has been locked
          .panel-body
            %p This user has been temporarily locked due to excessive number of failed logins. You may manually unlock the account.
            %br
            = link_to 'Unlock user', unlock_admin_user_path(@user), method: :put, class: "btn btn-info", data: { confirm: 'Are you sure?' }

      .panel.panel-danger
        .panel-heading
          ユーザの削除
        .panel-body
          - if @user.can_be_removed?
            %p ユーザを削除すると以下の影響があります。
            %ul
              %li このユーザが作成した課題, スニペット, コメントといったすべてのコンテンツが削除されます。
              - rp = @user.personal_projects.count
              - unless rp.zero?
                %li #{rp}個のパーソナルプロジェクトが削除され、復元できなくなります。
            %br
            = link_to 'ユーザを削除', [:admin, @user], data: { confirm: "ユーザ #{@user.name} は削除されます！本当に削除しますか？" }, method: :delete, class: "btn btn-remove"
          - else
            - if @user.solo_owned_groups.present?
              %p
                このユーザは現在次のグループの所有者です:
                %strong #{@user.solo_owned_groups.map(&:name).join(', ')}
              %p
                このユーザを削除する前に、所有権を移譲するか、これらのグループを削除する必要があります。
