- page_title "#{@merge_request.title} (##{@merge_request.iid})", "マージリクエスト"
= render "header_title"

.merge-request
  = render "projects/merge_requests/show/mr_title"
  = render "projects/merge_requests/show/mr_box"

  .alert.alert-danger
    %p
      - if @merge_request.for_fork? && !@merge_request.source_project
        フォークプロジェクトが削除されたため
      - elsif !@merge_request.source_branch_exists?
        %span.label.label-inverse= @merge_request.source_branch
        が
        %span.label.label-info= @merge_request.source_project_path
        に存在しないため
      - elsif !@merge_request.target_branch_exists?
        %span.label.label-inverse= @merge_request.target_branch
        が
        %span.label.label-info= @merge_request.target_project_path
        に存在しないため
      - else
        内部エラーが発生したため
      このマージリクエストを正常に表示することができません。

    %strong
      マージリクエストをクローズするか、存在するブランチに変更してください

