- page_title "Webフック"
%h3.page-title
  Webフック

%p.light
  #{link_to "Webフック", help_page_path("web_hooks", "web_hooks"), class: "vlink"}を使うと
  プロジェクト内のイベントを別のアクションに紐付けることができます。

%hr.clearfix

= form_for [@project.namespace.becomes(Namespace), @project, @hook], as: :hook, url: namespace_project_hooks_path(@project.namespace, @project), html: { class: 'form-horizontal' } do |f|
  -if @hook.errors.any?
    .alert.alert-danger
      - @hook.errors.full_messages.each do |msg|
        %p= msg
  .form-group
    = f.label :url, "URL", class: 'control-label'
    .col-sm-10
      = f.text_field :url, class: "form-control", placeholder: 'http://example.com/trigger-ci.json'
  .form-group
    = f.label :url, "トリガー", class: 'control-label'
    .col-sm-10.prepend-top-10
      %div
        = f.check_box :push_events, class: 'pull-left'
        .prepend-left-20
          = f.label :push_events, class: 'list-label' do
            %strong プッシュイベント
          %p.light
            リポジトリへのプッシュイベントがあったときにこのURLをリクエストします
      %div
        = f.check_box :tag_push_events, class: 'pull-left'
        .prepend-left-20
          = f.label :tag_push_events, class: 'list-label' do
            %strong タグプッシュイベント
          %p.light
            新しいタグがリポジトリにプッシュされたときにこのURLをリクエストします
      %div
        = f.check_box :note_events, class: 'pull-left'
        .prepend-left-20
          = f.label :note_events, class: 'list-label' do
            %strong コメント
          %p.light
            誰かがコメントを追加したときにこのURLをリクエストします
      %div
        = f.check_box :issues_events, class: 'pull-left'
        .prepend-left-20
          = f.label :issues_events, class: 'list-label' do
            %strong 課題イベント
          %p.light
            課題が作成されたときにこのURLをリクエストします
      %div
        = f.check_box :merge_requests_events, class: 'pull-left'
        .prepend-left-20
          = f.label :merge_requests_events, class: 'list-label' do
            %strong マージリクエストイベント
          %p.light
            マージリクエストが作成されたときにこのURLをリクエストします
  .form-group
    = f.label :enable_ssl_verification, "SSLの検証", class: 'control-label checkbox'
    .col-sm-10
      .checkbox
        = f.label :enable_ssl_verification do
          = f.check_box :enable_ssl_verification
          %strong SSLの検証を有効にする
  .form-actions
    = f.submit "Webフックを追加", class: "btn btn-create"

-if @hooks.any?
  .panel.panel-default
    .panel-heading
      Webフック (#{@hooks.count})
    %ul.well-list
      - @hooks.each do |hook|
        %li
          .pull-right
            = link_to 'フックをテスト', test_namespace_project_hook_path(@project.namespace, @project, hook), class: "btn btn-sm btn-grouped"
            = link_to '削除', namespace_project_hook_path(@project.namespace, @project, hook), data: { confirm: '本当に削除しますか？'}, method: :delete, class: "btn btn-remove btn-sm btn-grouped"
          .clearfix
            %span.monospace= hook.url
          %p
            - %w(push_events tag_push_events issues_events note_events merge_requests_events).each do |trigger|
              - if hook.send(trigger)
                %span.label.label-gray= trigger.titleize
            SSL Verification: #{hook.enable_ssl_verification ? "enabled" : "disabled"}
