!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body.ui_basic.login-page
    .container
      .content
        .login-title
          %h1= brand_title
    %hr
    .container
      .content
        = render "layouts/flash"
        .row
          .col-md-7.brand-holder
            - if brand_item
              .brand-image
                = brand_image
              .brand_text
                = brand_text
            - else
              .brand-image.default-brand-image.hidden-sm.hidden-xs
                = image_tag 'brand_logo.png'
              .brand_text.hidden-xs
                %h2 コード共同編集のためのオープンソースソフトウェア

                %p.lead
                  Gitリポジトリをきめ細かくアクセス管理でき、あなたのソースコードを安全な状態に保ちます。
                  マージリクエストを使えば、ソースコードレビューや共同作業を向上することができます。
                  各プロジェクトには課題トラッカーとWikiを備えることができます。


          .col-md-5
            = yield
    %hr
    .container
      .footer-links
        = link_to "探索", explore_root_path
        = link_to "ドキュメント", "http://doc.gitlab.com/"
        = link_to "GitLabについて", "https://about.gitlab.com/"
