%html{lang: "ja"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %title
        GitLab
  :css
    img {
      max-width: 100%;
      height: auto;
    }
    p.details {
      font-style:italic;
      color:#777
    }
    .footer p {
      font-size:small;
      color:#777
    }
    pre.commit-message {
      white-space: pre-wrap;
    }
    .file-stats a {
      text-decoration: none;
    }
    .file-stats .new-file {
      color: #090;
    }
    .file-stats .deleted-file {
      color: #B00;
    }
  %body
    %div.content
      = yield
    %div.footer{style: "margin-top: 10px;"}
      %p
        &mdash;
        %br
        - if @target_url
          - if @reply_by_email
            このメールに直接返信 または
            #{link_to "GitLabで表示", @target_url}.
          - else
            #{link_to "GitLabで表示", @target_url}.
          %br
          -# Don't link the host is the line below, one link in the email is easier to quickly click than two.
          この通知は、あなたが #{Gitlab.config.gitlab.host} のメンバーであるため送信されています。
          受信するメールの通知を減らしたい場合は、通知の設定で変更することができます。

          = email_action @target_url
